@{
    var bc = new BackendController(); string BID = HttpContext.Current.Request.Cookies.AllKeys.Contains("BID") == true ? HttpContext.Current.Request.Cookies["BID"].Value.ToString() : "";
    ;
    var RCheckLoginIP = bc.CheckLoginIPByCompany(BID);
    string CheckLoginPermission = "success";
    if (RCheckLoginIP.ResultCode != BackendController.APIResult.enumResult.OK)
    {
        CheckLoginPermission = "false";
    }

    var AdminData = "";
    var AdminJsonData = string.Empty;

    AdminData = bc.CreateSession(BID);


    if (!string.IsNullOrEmpty(AdminData))
    {
        AdminJsonData = AdminData;
    }


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>VPay</title>

    <meta name="description" content="top menu &amp; navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/Company/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Company/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="/VPay/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="/Company/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/Company/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="/Company/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/Company/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/Company/assets/css/ace-rtl.min.css" />
    <script src="/VPay/assets/js/BackendJS/BackendAPI.js?20210209"></script>
    <script src="/Company/assets/js/jquery-2.1.4.min.js"></script>

    @*<script src="~/VPay/assets/js/jquery-3.3.1.min.js"></script>*@
    <!-- sweetalert Plugin Js -->
    <script src="/VPay/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/VPay/assets/js/hashes.min.js"></script>
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/Company/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <script src="/Company/assets/js/jquery.dataTables.min.js"></script>
    <script src="/Company/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="/Company/assets/js/dataTables.buttons.min.js"></script>
    <script src="/Company/assets/js/buttons.flash.min.js"></script>
    <script src="/Company/assets/js/buttons.html5.min.js"></script>
    <script src="/Company/assets/js/buttons.print.min.js"></script>
    <script src="/Company/assets/js/buttons.colVis.min.js"></script>
    <script src="/Company/assets/js/dataTables.select.min.js"></script>

    <script src="~/VPay/assets/js/AutoNumeric.js"></script>
    <script src="~/VPay/assets/js/xlsx.core.min.js"></script>
    <script src="~/VPay/assets/js/moment.min.js"></script>
    <script src="~/VPay/assets/js/daterangepicker.js"></script>
    <link href="~/VPay/assets/css/daterangepicker.css" rel="stylesheet" />

    <style>
        .m-t-30 {
            margin-top: 30px;
        }

        .page-loader-wrapper .loader {
            position: relative;
            top: calc(40% - 30px);
        }

        .page-loader-wrapper {
            BACKGROUND-COLOR: beige;
            z-index: 99999999;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: center;
        }
    </style>

    <script>
        var apiURL = "/api/Backend";
        var AdminJsonData = '@Html.Raw(AdminJsonData)';
        var AdminObject = null;
        var BID = '@BID';
        var chineseTableLang = {
            "processing": "处理中...",
            "loadingRecords": "载入中...",
            "lengthMenu": "显示 _MENU_ 项结果",
            "zeroRecords": "没有符合的结果",
            "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "infoFiltered": "(從 _MAX_ 项结果中过滤)",
            "infoPostFix": "",
            "search": "搜寻:",
            "paginate": {
                "first": "第一页",
                "previous": "上一页",
                "next": "下一页",
                "last": "最后一页"
            },
            "aria": {
                "sortAscending": ": 升幂划分",
                "sortDescending": ": 降幂划分"
            }
        };

        function init() {

            api = new BackendAPI(BID, apiURL);
            if (AdminJsonData != "") {
                AdminObject = JSON.parse(AdminJsonData);
            }

            if (!AdminObject) {
                sessionLogout();
            }

            if ('@CheckLoginPermission' == 'false') {
                location.href = "/Company/Login.cshtml";
            }

            createMenu();
            loadHomePage();
            $('.page-loader-wrapper').fadeOut();
        }

        function loadPage(doc, pageName) {
            wrapperFadeIn();
            $('#MainFunctionTitle').text($(doc).parent().parent().parent().find('span').text());
            $('#AdditionalFunctionTitle').text($(doc).text());
            $('#AdditionalFunctionTitle').data('src', pageName)
            $('#menuContent').html('');
            $('#menuContent').load(pageName);
        }

        function goPage(pageName) {
            $("#navlist").find("[data-src='" + pageName + "']").trigger('click');
        }

        function goPageForModify(pageName,title) {
            $('#AdditionalFunctionTitle').text(title);
            $('#AdditionalFunctionTitle').data('src', pageName);
            $('#menuContent').html('');
            $('#menuContent').load(pageName);
        }

        function reloadPage() {
            var pageName = $('#AdditionalFunctionTitle').data('src');
            $("#navlist").find("[data-src='" + pageName + "']").trigger('click');
        }

        function loadHomePage() {
            $('#MainFunctionTitle').text('主页');
            $('#AdditionalFunctionTitle').text('Home');
            $('#menuContent').html('');
            $('#menuContent').load('Home.cshtml');
        }

        function createMenu() {
            //#region 左邊目錄
            api.getPermissionTableResultbyAdminID(function (success, obj) {

                if (obj[0].ResultCode == 7) {
                    errorAlert("您已断线请重新登入", "Login.cshtml");
                } else {
                    if (obj.length > 0) {
                        //$("#leftsidebar .list>.menuli").empty();
                        var menucount = 0;
                        $.each(obj, function (i, item) {
                            var docli = "";
                            var icon = "";
                            switch (obj[i].PermissionCategoryName) {
                                case "Admin":
                                    icon = '  <i class="menu-icon fa fa-product-hunt"></i>';
                                    break;
                                case "Agent":
                                    icon = '  <i class="menu-icon fa fa-users"></i>';
                                    break;
                                case "Withdraw":
                                    icon = '  <i class="menu-icon fa fa-money"></i>';
                                    break;
                                case "Transaction":
                                    icon = '  <i class="menu-icon fa fa-balance-scale"></i>';
                                    break;
                                case "Report":
                                    icon = '  <i class="menu-icon fa fa-sticky-note"></i>';
                                    break;
                                case "ReportQuery":
                                    icon = '  <i class="menu-icon glyphicon glyphicon-edit"></i>';
                                    break;
                                case "ProgramUse":
                                    icon = '  <i class="menu-icon fa fa-desktop"></i>';
                                    break;
                                case "Normal":
                                    icon = '  <i class="menu-icon fa fa-eye"></i>';
                                    break;
                                default:
                                    icon = '  <i class="menu-icon fa  fa-cog"></i>';
                                    break;
                            }
                             docli = $(`<li class="hover">
                                        <a href="#" class="dropdown-toggle">
                                        ${icon}
                                        <span class="menu-text"> ${obj[i].CategoryDescription} </span>
                                        <b class="arrow fa fa-angle-down"></b>
                                        </a>
                                        <b class="arrow"></b>
                                        </li>`);
                            var docSubmenu = $('<ul class="submenu"></ul>');
                            $.each(obj[i].PermissionResults, function (j, item) {

                                docSubmenu.append(`<li class="hover">
                                                            <a data-src="${obj[i].PermissionResults[j].LinkURL}" onclick="loadPage(this,'${obj[i].PermissionResults[j].LinkURL}')">
                                                            <i class="menu-icon fa fa-caret-right"></i>
                                                            ${obj[i].PermissionResults[j].Description}
                                                            </a>
                                                            <b class="arrow"></b>
                                                            </li>`);
                            });

                            $(docli).append($(docSubmenu));

                            $('#navlist').append(docli);

                        })

                    }
                }

                if (!AdminObject.CheckGoogleKeySuccess) {
                    errorAlertCallback("请先绑定谷歌验证器", function () {
                        goPage("GoogleDoubleCheck.cshtml");
                    });
                }
            });
            //#endregion


        }

        //#region 登出按鈕事件
        function Logout() {
            swal({
                title: "是否要登出",
                type: "warning",
                confirmButtonText: "確認",
                cancelButtonText: "取消",
                showCancelButton: true,
                closeOnConfirm: false
            }, function (isConfirm) {
                if (isConfirm) {
                    api.userLogout(function (success, obj) {
                        if (success) {
                            sessionStorage.clear();
                            location.href = "/Company/Login";
                        }
                    });
                } else {
                }
            });
        }

            //#endregion


        //#region 登出事件
        function sessionLogout() {

            swal({
                title: "您已断线,请重新登录",
                type: "error",
                confirmButtonText: "确认",
                closeOnConfirm: false
            }, function () {
                sessionStorage.clear();
                location.href = "/Company/Login.cshtml";
            })
        }

        function pageLogout() {

            sessionStorage.clear();
            location.href = "/Company/Login.cshtml";
        }
        //#endregion

        //#region 成功訊息
        function successAlert(cb) {
            swal({
                title: "更新成功",
                type: "success",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                if (cb) {
                    cb();
                }
            })
        }

        function successAlert2(url, title) {
            swal({
                title: title,
                type: "success",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                GoPage(url);
            })
        }

        function successAlert3(title, cb) {
            swal({
                title: title,
                type: "success",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                if (cb) {
                    cb();
                }
            })
        }

        function successAlert4(html, cb) {
            swal({
                title: "更新成功",
                type: "success",
                text: html,
                html: true,
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                if (cb) {
                    cb();
                }
            })
        }
        //#endregion

        //#region 錯誤訊息(顯示後跳頁)
        function errorAlert(title, url) {
            $(".page-loader-wrapper").fadeOut();

            swal({
                title: title,
                type: "error",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {

                location.href = url;
            })
        }

        function errorAlertAndtoOtrherPage(title, url, pageID, pageName) {
            $(".page-loader-wrapper").fadeOut();

            swal({
                title: title,
                type: "error",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                GoPage(pageID, pageName, url);
            })
        }


        function errorAlertCallback(title, cb) {

            swal({
                title: title,
                type: "error",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                cb();
            })
        }
        //#endregion

        //#region 警告訊息

        function warningAlert(title) {

            swal({
                title: title,
                type: "warning",
                confirmButtonText: "确认",
                closeOnConfirm: true
            });
        }

        function warningAlertByHtml(title, html) {

            swal({
                title: title,
                text: html,
                html: true,
                type: "warning",
                confirmButtonText: "确认",
                closeOnConfirm: true
            });
        }

        //#endregion

        //添加千分符號
        function toCurrency(num) {

            num = parseFloat(Number(num).toFixed(2));
            var parts = num.toString().split('.');
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            return parts.join('.');
        }

        //刪除千分符號
        function toNumber(num) {
            var returnNum = Number(num.trim().replace(/,/g, ""));
            return returnNum;
        }
        //是否為浮點數
        function isFloat(n) {
            return n === n && n !== (n | 0);
        }

        function wrapperFadeOut() {
            $(".page-loader-wrapper").fadeOut();
        }

        function wrapperFadeIn() {
            $(".page-loader-wrapper").fadeIn();
        }

        //#region 驗證TempData的Type是否與編輯頁面相同
        function CheckTempDataType(type1) {

            if (window.sessionStorage["TempData"] == undefined) {
                swal({
                    title: "错误",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                }, function () {
                    loadHomePage();
                })
            } else if (!window.sessionStorage["TempData"]) {

                swal({
                    title: "错误",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                }, function () {
                    loadHomePage();
                })
            }

            var td = JSON.parse(window.sessionStorage["TempData"]);
            if (type1 == td.type) {
                return td;
            } else {
                swal({
                    title: "错误",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                }, function () {
                    loadHomePage();
                })
            }
        }
        //#endregion

        window.onload = init;
    </script>
</head>



<body class="no-skin">

    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="~/VPay/assets/images/logo_S_w.svg" width="48" height="48" alt="sQuare"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div id="navbar" class="navbar navbar-default    navbar-collapse       h-navbar ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        VPay
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right  collapse navbar-collapse" role="navigation">
                <ul class="nav ace-nav">
                    <li class="transparent dropdown-modal" style="border-left-width: 1px;">
                        <a onclick="loadHomePage()">
                            <i class="ace-icon glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                    <li class="transparent dropdown-modal">
                        <a onclick="Logout()">
                            <i class="ace-icon glyphicon glyphicon-off"></i>
                        </a>
                    </li>


                </ul>

            </div>


        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <div id="sidebar" class="sidebar      h-sidebar                navbar-collapse collapse          ace-save-state">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
            </script>

            <button class="sidebar-shortcuts sidebar-collapse" id="sidebar-shortcuts" data-target="#sidebar">
                <div id="sidebar-shortcuts-large">

                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </button><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list" id="navlist"></ul><!-- /.nav-list -->
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">


                    <div class="page-header">
                        <h1>
                            <span id="MainFunctionTitle"></span>
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                <span id="AdditionalFunctionTitle"></span>
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->



                            <div class="center" id="menuContent">

                            </div>
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->



        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>


    <div style="display:none;">
        <iframe src="/VPay/wFrmRefresh.aspx" id="refresh"></iframe>
    </div>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="assets/js/ace-elements.min.js"></script>
    <script src="assets/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            var $sidebar = $('.sidebar').eq(0);
            if (!$sidebar.hasClass('h-sidebar')) return;

            $(document).on('settings.ace.top_menu', function (ev, event_name, fixed) {
                if (event_name !== 'sidebar_fixed') return;

                var sidebar = $sidebar.get(0);
                var $window = $(window);

                //return if sidebar is not fixed or in mobile view mode
                var sidebar_vars = $sidebar.ace_sidebar('vars');
                if (!fixed || (sidebar_vars['mobile_view'] || sidebar_vars['collapsible'])) {
                    $sidebar.removeClass('lower-highlight');
                    //restore original, default marginTop
                    sidebar.style.marginTop = '';

                    $window.off('scroll.ace.top_menu')
                    return;
                }


                var done = false;
                $window.on('scroll.ace.top_menu', function (e) {

                    var scroll = $window.scrollTop();
                    scroll = parseInt(scroll / 4);//move the menu up 1px for every 4px of document scrolling
                    if (scroll > 17) scroll = 17;


                    if (scroll > 16) {
                        if (!done) {
                            $sidebar.addClass('lower-highlight');
                            done = true;
                        }
                    }
                    else {
                        if (done) {
                            $sidebar.removeClass('lower-highlight');
                            done = false;
                        }
                    }

                    sidebar.style['marginTop'] = (17 - scroll) + 'px';
                }).triggerHandler('scroll.ace.top_menu');

            }).triggerHandler('settings.ace.top_menu', ['sidebar_fixed', $sidebar.hasClass('sidebar-fixed')]);

            $(window).on('resize.ace.top_menu', function () {
                $(document).triggerHandler('settings.ace.top_menu', ['sidebar_fixed', $sidebar.hasClass('sidebar-fixed')]);
            });


        });
    </script>
</body>
</html>
