@{
    var bc = new BackendController(); string BID = HttpContext.Current.Request.Cookies.AllKeys.Contains("BID") == true ?  HttpContext.Current.Request.Cookies["BID"].Value.ToString():"";

    string CheckPermission = "success";

    string PermissionName = Request.Path.Split('/').Last().Split('.').First();
    var result = bc.CheckPermission(BID,PermissionName);

    if (result.ResultCode != BackendController.APIResult.enumResult.OK)
    {
        CheckPermission = "false";
    }

    var resultCheckLoginIP = bc.CheckLoginIPByCompany(BID);
    string CheckLoginPermission = "success";
    if (resultCheckLoginIP.ResultCode != BackendController.APIResult.enumResult.OK)
    {
        CheckLoginPermission = "false";
    }

}

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="input_password">  原登入密码 : </label>

                <div class="col-sm-9">
                    <input type="password" id="input_password" placeholder="原登入密码" class="col-xs-10 col-sm-5">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="input_checkpassword">  新登入密码 : </label>

                <div class="col-sm-9">
                    <input type="password" id="input_checkpassword" placeholder="新登入密码" class="col-xs-10 col-sm-5">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="input_newpassword">  重复新密码 : </label>

                <div class="col-sm-9">
                    <input type="password" id="input_newpassword" placeholder="重复新密码" class="col-xs-10 col-sm-5">
                </div>
            </div>

            <div class="clearfix form-actions">
                <div class="center">
                    <button class="btn btn-info" type="button" id="btn_Password_Save">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        储存
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        pageLoad();
    });

    function pageLoad() {
        wrapperFadeOut();
        if ('@CheckLoginPermission' == 'false') {
                location.href = "Login.cshtml";
            }

            if ('@CheckPermission' == 'false') {
            parent.errorAlertCallback("权限不足", function () {
                loadHomePage();
            });
        }
    }

    //儲存
    $("#btn_Password_Save").on("click", function () {
        //#region 驗證
        if ($("#input_password").val().trim() == "") {
            parent.warningAlert("尚未填写原登入密码");
            return;
        }

        if ($("#input_checkpassword").val().trim() == "") {
            parent.warningAlert("尚未填写新登入密码");
            return;
        }

        if ($("#input_newpassword").val().trim() == "") {
            parent.warningAlert("尚未填写重复新密码");
            return;
        }

        if ($("#input_newpassword").val().trim() != $("#input_checkpassword").val().trim()) {
            parent.warningAlert("新密码输入错误");
            return;
        }

        //#endregion
        var newpassword = $('#input_newpassword').val().trim();
        var password = $('#input_password').val().trim();
        wrapperFadeIn();
        api.updateLoginPassword(password, newpassword, function (success, obj) {
            
            if (success) {
                wrapperFadeOut();

                if (obj.ResultCode == 0) {
                    parent.successAlert(function () {
                        $("#input_checkpassword").val('');
                        $("#input_newpassword").val('');
                        $("#input_checkpassword").val('');
                        reloadPage();
                    });
                } else {
                    var message = "其他错误"
                    switch (obj.ResultCode) {
                        case 4:
                            errorAlertCallback("权限不足", function () {
                                loadHomePage();
                            });
                            break;
                        case 7:
                            errorAlert("您已断线请重新登入", "Login.cshtml");
                            break;
                        case 8:
                            message = "银行卡号重复";
                            break;
                        case 99:
                            message = "原登入密码有误";
                            break;
                        default:
                            message = "其他错误";
                            break;
                    }

                    warningAlert(message);
                }
            } else {
                wrapperFadeOut();
            }
        });
    })
    </script>
