<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>VPay 后台登入</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link href="/VPay/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Company/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="/VPay/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- text fonts -->
    <link rel="stylesheet" href="/Company/assets/css/fonts.googleapis.com.css" />

    <link href="/VPay/assets/css/main.css" rel="stylesheet" />
    <link href="/VPay/assets/css/color_skins.css" rel="stylesheet" />
    <!-- ace styles -->
    @*<link rel="stylesheet" href="/Company/assets/css/ace.min.css" />*@

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="assets/css/ace-part2.min.css" />
    <![endif]-->
    @*<link rel="stylesheet" href="/Company/assets/css/ace-rtl.min.css" />*@

    <script src="/VPay/assets/js/BackendJS/BackendAPI.js?20210129"></script>
    <script src="/Company/assets/js/jquery-2.1.4.min.js"></script>
    <!-- sweetalert Plugin Js -->
    <script src="/VPay/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/VPay/assets/js/hashes.min.js"></script>
    <style>
        .page-header {
            height: 100vh;
            max-height: 1050px;
            padding: 0;
            color: #fff;
            position: relative;
            background-position: center center;
            background-size: cover;
        }

        body {
            background-color: #f4f7f6;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            font-family: 'Microsoft JhengHei', Arial, Tahoma, sans-serif;
            font-weight: 400;
            font-size: 15px;
        }

        .bg_login .page-header .container {
            max-width: 520px;
            background-color: #fff;
            -webkit-transform: translate(-300px, 0);
            -ms-transform: translate(-300px, 0);
            transform: translate(-300px, 0);
        }

        .page-header .container {
            z-index: 2;
        }

        .page-header .container {
            height: 100%;
            z-index: 1;
            text-align: center;
            position: relative;
        }

        .page-header .container > .content-center {
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                padding: 0 15px;
                color: #FFFFFF;
                width: 100%;
                max-width: 880px;
            }
    </style>
    <script>

        var apiURL = "/api/Backend";
        var api;
        // Get the input field
        var MD5 = new Hashes.MD5
        // new SHA256 instance
        var SHA256 = new Hashes.SHA256


        function init() {
            api = new BackendAPI("", apiURL);
        }

        function userLogin() {
            var loginAccount = $('#accountInput').val().trim();
            var password = $('#passwordInput').val().trim();
            var userKey = $('#googleInput').val().trim();

            password = SHA256.hex((MD5.b64(password) + userKey));
            if (loginAccount == "") {

                swal({
                    title: "尚未输入账号",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                });
                return false;
            }

            if (password == "") {

                swal({
                    title: "尚未输入密码",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                });
                return false;
            }

            //if (userKey == "") {

            //    swal({
            //        title: "尚未输入谷歌验证码",
            //        type: "warning",
            //        confirmButtonText: "确认",
            //        closeOnConfirm: false
            //    });
            //    return false;
            //}


            api.userLoginByGoogle(loginAccount, password, userKey, function (success, obj) {
                if (obj.ResultCode == 0) {
                    location.href = "Index.cshtml";
                } else {
                    var message = ""
                    switch (obj.ResultCode) {
                        case 14:
                            message = "谷歌验证码有误";
                            break;
                        case 13:
                            location.href = "Index.cshtml";
                            break;
                        case 4:
                            message = "帐号或密码错误";
                            break;
                        case 6:
                            message = "非法操作";
                            break;
                        default:
                            message = "其他错误";
                            break;
                    }

                    swal({
                        title: message,
                        type: "warning",
                        confirmButtonText: "确认",
                        closeOnConfirm: true
                    });
                }
            });
        }

        function enterlogin() {
            if (event.keyCode == 13) {
                event.preventDefault();
                userLogin();
            }
        }

        window.onload = init;
    </script>
</head>

<body class="theme-violet bg_login" onkeydown="enterlogin()">
    <!-- <body class="theme-cyan bg_login" onkeydown="enterlogin()"> -->
    <div class="authentication sidebar-collapse">
        <div class="page-header">
            <div class="container">
                <div class="col-md-12 content-center">
                    <div class="card-plain">
                        <form class="form">
                            <div class="header">
                                <div class="logo"> <img src="/VPay/assets/images/logo_vpay.svg"></div>
                                <h5 class="title">后台登入</h5>
                            </div>
                            <div class="content">
                                <div class="input-group">
                                    <input id="accountInput" type="text" class="form-control" placeholder="请输入帐号">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-account-circle"></i>
                                    </span>
                                </div>
                                <div class="input-group">
                                    <input id="passwordInput" type="password" placeholder="请输入密码" class="form-control" />
                                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                </div>
                                <div class="input-group">
                                    <input id="googleInput" type="text" value="000000" class="form-control" placeholder="请输入谷歌验证码">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-google"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="footer">
                                <a id="userLogin" onclick="userLogin()" class="btn btn-primary btn-round btn-lg btn-block ">登入</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
<div>

</div>