@charset "utf-8";
body {
    margin: 0 auto;
    font-family: '微軟正黑體', sans-serif;
  }
  
  .top-bar {
    width: 100%;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    background-color: black;
  }
  
  .top-bar .logo {
    height: 100%;
    width: 100%;
  }
  
  .top-bar img {
    margin: 5px 5px 5px 5px;
    height: 100%;
    width: auto;
  }
  
  .swiper-container  {
    min-height: 600px;
    text-align: center;
    background-color: black;
  }
  
  .swiper-container img {
    max-height: 600px;
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .swiper-icon {
    opacity: 0.5;
    transform: scale(1);
  }
  
  .swiper-icon:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  
  .swiper-texture {
    position:absolute;
    animation-name:swiperin;
    animation-duration:0.3s;
    opacity: 1;
  }
  
  @keyframes swiperin{
    from{
        left:-500px;
        opacity: 1;
    }
    to{
        opacity: 0;
        left:0px;
    }
  }
  
  .swiper-list {
    left: 60%;
    display: flex;
    position: absolute;
    height: 100px;
    z-index: 100;
  }
  
  .swiper-list img {
    height: 100%;
    width: auto;
  }
  
  .game-list {
    position: relative; 
  }
  
  .game-list img {
    position: absolute;
    height: auto;
    width: 100%;
  }
  
  .game-list #title {
    position: absolute;
    height: 120px;
    width: 248px;
    z-index:100;
    top: 35px;
    left: 45px;
  }
  
  .game-list .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding-top: 150px;
    justify-items: center;
    padding-left: 10%;
  }
  
  .game-list .list li {
    width: 80%;
    height: auto;
    vertical-align: middle;
    float: right;
  }
  
  .comming-list {
    position: relative; 
  }
  
  .comming-list img {
    width: 100%;
    height: auto;
  }
  
  .comming-list #title {
    position: absolute;
    height: 128px;
    width: 436px;
    z-index:100;
    top: 0px;
    left: 45px;
  }
  
  .comming-list {
    position:relative;
  }
  
  .comming-container {
    top: 0;
    position:absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    width: 80%;
    padding-top: 150px;
    justify-items: center;
    padding-left:10%;
  }
  
  .comming-container li {
    width: 80%;
    height: auto;
    vertical-align: middle;
    float:right;
  }
  
  footer .container {
    text-align: left;
    
    margin: 0px auto;
  }
  
  footer img {
    height: 100%;
    width: auto;
  }
  
  footer #kingkeylogo {
    height: 100%;
    width: auto;
  }
  
  footer {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #2e2e2e;
    color: aliceblue;
    display: flex;
    padding-bottom: 2px;
    line-height: 2px;
    font-size: 10px;
    color: #bbb;
  }
  
  .gameitem {
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    transform: scale(1);
    transform: translateY(0px);
  }
  
  .gameitem:hover {
    filter: drop-shadow(24px 24px 14px rgba(0, 0, 0, 0.7));
    transform: scale(1.5);
    transform: translateY(-7px);
  }
  
  @media screen and (max-width: 900px) {
    .logo #logoimg {
      width: 50px;
    }
  
    .comming-list #title {
      position: absolute;
      height: 64px;
      width: 218px;
      z-index:100;
      top: 0px;
      left: 45px;
    }
  
    .swiper-container  {
      min-height: auto;
      text-align: center;
      background-color: black;
    }
  
    .swiper-container img {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .top-bar {
      width: 100%;
      height: 50px;
      background-color: black;
    }
    
    .top-bar img {
      width: 176px;
    }
  
    .swiper-list {
      display: none;
    }
  
    .game-list .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      text-align: center;
      width: 100%;
      padding-top: 75px;
    }
  
    .game-list #title {
      position: absolute;
      height: 60px;
      width: 124px;
      z-index:100;
      top: 18px;
      left: 23px;
    }
  
    .game-list .list li img {
      width: 10%;
      min-width: 100px;
      height: auto;
    }
  
  }
  
  
  @media screen and (max-width: 600px) {
    
    .logo #logoimg {
      padding: 0px;
      width: 20px;
      height: 20px;
    }
  
    .comming-container {
      top: 0;
      position:absolute;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      text-align: center;
      width: 80%;
      padding-top: 50px;
      justify-items: center;
      padding-left:10%;
    }
  
  
    .comming-list #title {
      position: absolute;
      height: 32px;
      width: 109px;
      z-index:100;
      top: 0px;
      left: 45px;
    }
  
    .swiper-container  {
      min-height: auto;
      text-align: center;
      background-color: black;
    }
  
    .top-bar {
      width: 100%;
      height: 25px;
      background-color: black;
    }
    
    .top-bar img {
      width: 88px;
      margin: 0px;
    }
  
    .swiper-list {
      display: none;
    }
  
    .game-list .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      text-align: center;
      width: 100%;
      padding-left: 0px;
      height: auto;
      padding-bottom : 20px;
    }
  
    .game-list #title {
      position: absolute;
      height: 30px;
      width: 62px;
      z-index:100;
      top: 9px;
      left: 11px;
    }
  
    .game-list .list li img {
      width: 10%;
      min-width: 60px;
      height: auto;
    }
  
      
    footer {
      display: none;
    }
  
  }
  
  
  @media screen and (max-width: 320px) {
    
    .comming-container {
      top: 0;
      position:absolute;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      text-align: center;
      width: 80%;
      padding-top: 50px;
      justify-items: center;
      padding-left:10%;
    }
  
  
    .comming-list #title {
      position: absolute;
      height: 32px;
      width: 109px;
      z-index:100;
      top: 0px;
      left: 45px;
    }
  
    .swiper-container  {
      min-height: auto;
      text-align: center;
      background-color: black;
    }
  
    .top-bar {
      width: 100%;
      height: 25px;
      background-color: black;
    }
    
    .top-bar img {
      width: 88px;
    }
  
    .swiper-list {
      display: none;
    }
  
    .game-list .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      text-align: center;
      padding-left: 0px;
      height: auto;
      min-height: 170px;
      padding-bottom : 0px;
      padding-top: 40px;
    }
  
    .game-list #title {
      position: absolute;
      height: 30px;
      width: 62px;
      z-index:100;
      top: 9px;
      left: 11px;
    }
  
    .game-list .list li img {
      width: 10%;
      min-width: 60px;
      height: auto;
    }
  
      
    footer {
      display: none;
    }
  
  }