@{ 
    var bc = new BackendController(); string BID = HttpContext.Current.Request.Cookies.AllKeys.Contains("BID") == true ?  HttpContext.Current.Request.Cookies["BID"].Value.ToString():"";
    var resultCheckLoginIP = bc.CheckLoginIPByCompany(BID);
    string CheckLoginPermission = "success";
    if (resultCheckLoginIP.ResultCode != BackendController.APIResult.enumResult.OK)
    {
        CheckLoginPermission = "false";
    }

}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>VPay</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="~/VPay/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap Select Css -->
    <link href="~/VPay/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/VPay/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/VPay/assets/plugins/morrisjs/morris.min.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/VPay/assets/css/main.css">
    <link rel="stylesheet" href="~/VPay/assets/css/color_skins.css">
    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="~/VPay/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">

    <!-- JQuery sweetalert Css -->
    <link href="~/VPay/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- JQuery jquery-nestable Css -->
    <link href="~/VPay/assets/plugins/nestable/jquery-nestable.css" rel="stylesheet" />
    <!-- datetimepicker Css-->
    <link href="~/VPay/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- JQuery multi-select Css -->
    <link href="~/VPay/assets/plugins/multi-select/css/multi-select.css" rel="stylesheet" />
    <link href="~/VPay/assets/css/ecommerce.css" rel="stylesheet" />
    <!-- jquery-ui Css -->
    <link href="~/VPay/assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/VPay/assets/css/ui.tabs.overflowResize.css" rel="stylesheet" />
    <!-- Jquery Core Js -->
    <script src="~/VPay/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/VPay/assets/js/D3/d3.min.js"></script>
    <script src="~/VPay/assets/bundles/libscripts.bundle.js"></script> <!--Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js)-->
    <script src="~/VPay/assets/bundles/vendorscripts.bundle.js"></script>  <!--slimscroll, waves Scripts Plugin Js-->
    <script src="~/VPay/assets/plugins/multi-select/js/jquery.multi-select.js"></script>
    <script src="~/VPay/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
    <script src="~/VPay/assets/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
    <script src="~/VPay/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/VPay/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/VPay/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/VPay/assets/js/pages/index.js"></script>
    <script src="~/VPay/assets/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/VPay/assets/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/VPay/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/VPay/assets/js/pages/tables/jquery-datatable.js"></script>

    <script src="~/VPay/assets/plugins/jquery-datatable/dataTables.responsive.min.js"></script>
    <script src="~/VPay/assets/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <!-- basic-form-elements Js -->
    @*<script src="assets/js/pages/forms/basic-form-elements.js"></script>*@
    <!-- datetimepicker Js -->
    <script src="~/VPay/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- sweetalert Plugin Js -->
    <script src="~/VPay/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <script src="~/VPay/assets/js/BackendJS/BackendAPI.js?20200326"></script>
    <script src="~/VPay/assets/js/AutoNumeric.js"></script>
    <script src="~/VPay/assets/js/ion.sound.min.js"></script>
    <!-- JQuery 頁籤 Js -->
    <script src="~/VPay/assets/js/jquery-ui.js"></script>
    <script src="~/VPay/assets/js/ui.tabs.overflowResize.js"></script>
    <script src="~/VPay/assets/js/ui.tabs.addTab.js"></script>
    <script src="~/VPay/assets/js/ui.tabs.closable.js"></script>

    <script src="~/VPay/assets/js/common.js"></script>

    <style>


        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: black !important;
            opacity: 1; /* Firefox */
        }

        .filter-option {
            color: black !important;
            opacity: 0.8;
        }
        /* fallback */
        @@font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
        }

        button:hover {
            cursor: pointer;
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }

        .dtp-buttons {
            display: none;
        }

        .navbar

        .divided:hover {
            cursor: pointer;
        }

        button, input, optgroup, select, textarea {
            margin: 0;
            font-family: "Microsoft JhengHei";
            font-size: inherit;
            line-height: inherit;
        }

        form > label {
            font-size: 14px;
            font-weight: bold;
        }

        [data-notify="container"][class*="alert-pastel-"] {
            background-color: rgb(255, 255, 238);
            border-width: 0px;
            border-left: 15px solid rgb(255, 240, 106);
            border-radius: 0px;
            box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
            font-family: 'Old Standard TT', serif;
            letter-spacing: 1px;
            opacity: 0.9;
            width: 90%;
        }

        [data-notify="container"].alert-pastel-info {
            border-left-color: rgb(255, 179, 40);
        }

        [data-notify="container"].alert-pastel-danger {
            border-left-color: rgb(255, 103, 76);
        }

        [data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
            color: rgb(80, 80, 57);
            display: block;
            font-weight: 700;
            margin-bottom: 5px;
        }

        [data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
            font-weight: 400;
            color: black;
        }

        .alert .close {
            color: black !important;
            margin-right: 20px;
        }

        .selectedItem {
            color: forestgreen !important;
            background: #DDDDDD !important;
            border-color: black !important;
        }

            .selectedItem:hover {
                color: forestgreen;
                background: #DDDDDD;
            }

        .dd-handle:hover {
            cursor: pointer;
        }

        table .selected {
            background-color: #dff0d8 !important;
        }

        .show > .dropdown-toggle {
            color: #fff !important;
        }

        .table-responsive > div > table {
            width: 100%;
        }

        .btn-timeZone:hover {
            cursor: pointer;
        }
        /*.dtr-data {
            word-break: normal;
            width: auto;
            display: block;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: hidden;
        }*/
        .dtr-title {
            display: inline-block;
            width: 150px;
            font-weight: bold;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: normal;
        }

        table.dataTable > tbody > tr.child ul.dtr-details {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }



        .card_title {
            font-size: 22px;
        }

        .card_subtitle {
            padding: 20px;
        }

        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            font-family: "Microsoft JhengHei";
        }

        * {
            font-family: 微軟正黑體, 微軟雅黑體, Arial;
        }
        /*body{min-width: 1200px;}*/
        /*body > .bg{background-image: url('../bg/davide-ragusa-716-unsplash.jpg');}*/
        body > .bg {
            background-image: url('assets/background/bg.jpg');
        }
        /*body > .bg{background-image: url('backgrounds/1.jpg');}*/
        /*body > .bg{background-image: url('../bg/jeremy-bishop-171845-unsplash.jpg');}*/
        /*body > .bg{background-image: url('../bg/paul-carmona-276464-unsplash.jpg');}*/
        /*body > .bg{background-image: url('../bg/vinoth-ragunathan-96670-unsplash.jpg');}*/
        body > .bg {
            background-size: cover;
            position: fixed;
            width: 100%;
            height: 100%;
        }

        .navbar-brand img {
            filter: brightness(10);
        }

        .navbar-brand span {
            color: #fff;
        }
        /*.navbar-nav > li > a i.fa-sync-alt, .navbar-nav > li > a i.fa-bell, .navbar-nav > li > a i.fa-caret-down{font-size: inherit;}*/
        nav.navbar li > a {
            color: #fff !important;
        }

        li.divided > a {
            display: inline-block;
            line-height: 30px;
            padding: 0 15px;
        }

        span.label.label-transparent-black {
            position: absolute;
            top: -10px;
            left: 26px;
            z-index: 2;
        }

            span.label.label-transparent-black:before {
                content: '';
                background-color: #FF6B6B;
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                z-index: -1;
            }

        .displaynone, .overlay, .sidebar .menu .list .ml-menu, .menu_sm .sidebar .list li.header, .menu_sm .sidebar .list .detail, .menu_sm .sidebar .list a::before, .menu_sm .sidebar .list a::after, .menu_sm .sidebar .list a span {
            background-color: rgba(0,0,0,0.2);
        }

        .user .profile-photo {
            display: inline-block;
            width: 92px;
            height: 92px;
            margin: 0 0 4px 0;
            border-radius: 50%;
            border: 4px solid #fff;
            box-shadow: 0 2px 16px rgba(0,0,0,0.4);
            transition: 0.2s all;
        }

            .user .profile-photo img {
                width: 100%;
            }

        #current-user {
            text-align: center;
            list-style: none;
            margin: 16px 0 0;
        }

            #current-user .account p {
                color: #fff;
            }

            #current-user .account #layoutCompanyName {
                font-size: 18px;
                margin: 6px 0;
            }

            #current-user .account #layoutLoginAccount {
                font-size: 14px;
                font-weight: lighter;
                margin: 0;
                padding-bottom: 12px;
                border-bottom: 1px solid rgba(255,255,255,0.2);
            }

        #leftsidebar {
            background-color: rgba(0,0,0,0.1);
        }

        .sidebar .menu .list a {
            color: #eee;
            padding: 12px 16px;
        }

            .sidebar .menu .list a span {
                font-size: 16px;
            }

        .sidebar .menu .list .ml-menu li a {
            padding: 10px 0 10px 60px;
        }

            .sidebar .menu .list .ml-menu li a:before {
                content: '';
            }

        #timeShowBox {
            color: #fff;
            margin: 0;
        }

        #timeZoneSelect {
            width: 90%;
            height: 0;
            margin: 8px auto 0;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 2px 32px rgba(0,0,0,0.1);
            position: relative;
            text-align: center;
            transition: 0.3s all;
            font-size: 0;
        }

            #timeZoneSelect:before {
                content: '';
                position: absolute;
                top: -4px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                transition: 0.3s all;
            }

            #timeZoneSelect.active {
                height: 54px;
                padding: 12px 0;
            }

                #timeZoneSelect.active:before {
                    border-bottom: 5px solid #fff;
                }

            #timeZoneSelect .btn-timeZone {
                display: -webkit-inline-flex;
                display: -moz-inline-flex;
                display: -ms-inline-flex;
                display: -o-inline-flex;
                display: inline-flex;
                justify-content: center;
                -ms-align-items: center;
                align-items: center;
                width: 88px;
                height: 30px;
                margin: 0 4px;
                font-size: 12px;
                color: transparent;
                background-color: transparent;
                border-radius: 4px;
                transition: 0.3s all;
            }

            #timeZoneSelect.active .btn-timeZone {
                color: #fff;
                background-color: #65C3DF;
            }

        .navbar {
            min-height: 65px;
            background-image: url('assets/background/nav_bg.jpg');
            background-size: cover;
            background-position: center;
        }

        ul.flex, .navLeft, .navRight {
            display: -webkit-inline-flex !important;
            display: -moz-inline-flex !important;
            display: -ms-inline-flex !important;
            display: -o-inline-flex !important;
            display: inline-flex !important;
            justify-content: space-between;
            -ms-align-items: center;
            align-items: center;
            flex-direction: inherit;
        }

            .navLeft li:last-child {
                position: absolute;
                left: 214px;
            }

            .navRight li:nth-child(1), .navRight li:nth-child(2), .navRight li:nth-child(3) {
                border-right: 1px solid #888;
                height: 30px;
            }

        .navRight {
            margin-right: 12px;
        }
        /*.navbar ul.nav li{position: absolute; top: 50%; transform: translateY(-50%);}*/
        /*.navbar ul.nav li:nth-child(2){left: 150px;}
        .navbar ul.nav li:nth-child(3){right: 340px; border-right: 1px solid #888; height: 30px;}
        .navbar ul.nav li:nth-child(3) p{margin: 0;}
        .navbar ul.nav li:nth-child(4){right: 290px; border-right: 1px solid #888; height: 30px;}
        .navbar ul.nav li:nth-child(5){right: 242px; border-right: 1px solid #888; height: 30px;}
        .navbar ul.nav li:nth-child(6){right: 52px;}
        .navbar ul.nav li:nth-child(7){right: 6px; border-left: 1px solid #888; height: 30px;}*/
        .copyright {
            position: absolute;
            left: 28px;
            bottom: 12px;
            transition: 0.2s all;
        }

        body .copyright p {
            margin: 0;
            font-size: 12px;
            color: #eee;
        }

        body.theme-cyan.menu_sm .copyright {
            left: 4px;
            transition: 0.2s all;
        }

        body.theme-cyan.menu_sm .profile-photo {
            width: 52px;
            height: 52px;
            border-width: 2px;
            transition: 0.2s all;
        }

        body.theme-cyan.menu_sm .account p {
            display: none;
        }

        section.content {
            margin: 65px 0px 0 250px;
            background-color: #f5f5f5;
            border-radius: 0;
        }

        .container-fluid > .row {
            padding: 12px 0;
        }

        .dd-handle {
            background: none;
            border: 0;
        }

            .dd-handle:hover {
                color: #45B6B0;
            }

        ol.dd-list > li.dd-item > ol.dd-list > li.dd-item > .dd-handle {
            color: #575b61;
            padding-left: 24px;
        }

        ol.dd-list > li.dd-item > ol.dd-list > li.dd-item:before {
            content: '';
            position: absolute;
            left: 0;
            top: -5px;
            width: 1px;
            height: calc(100% + 10px);
            height: -moz-calc(100% + 10px);
            height: -webkit-calc(100% + 10px);
            border-left: 0.5px solid #ddd;
        }

        .divCompanyTree > ol.dd-list > li.dd-item {
            /*border-bottom: 1px solid #ddd;*/
            margin: 6px 0;
        }

        li.dd-item {
            padding: 0 12px;
        }

            li.dd-item > button {
                position: absolute;
                left: 10px;
            }

        .divCompanyTree > ol.dd-list > li.dd-item:last-child {
            border: 0;
        }

        .divCompanyTree > ol.dd-list > li.dd-item > .dd-handle {
            font-weight: bold;
            font-size: 15px;
            padding-left: 24px;
        }

        .theme-cyan .sidebar .menu .list {
            padding: 0;
        }

            .theme-cyan .sidebar .menu .list > li {
                padding: 0;
                margin: 4px 12px;
            }
            /*.theme-cyan .sidebar .menu .list li ul li{padding: 0 12px;}*/
            .theme-cyan .sidebar .menu .list li a:hover {
                background-color: rgba(0,0,0,0.2);
            }

            .theme-cyan .sidebar .menu .list li ul {
                background: rgba(0,0,0,0.35);
            }

            .theme-cyan .sidebar .menu .list li a:hover {
                color: #fff;
            }
        /*.strongtitle{color: #6f7884; font-size: 22px;}*/
        .col-lg-7.col-md-7.col-sm-7 > p {
            margin: 0;
        }

        .block-header {
            padding: 0 64px;
            margin-bottom: 16px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

            .block-header h2 {
                color: #565d67;
                font-weight: bold;
            }

            .block-header .col {
                padding: 16px;
            }

                .block-header .col.col-lg-9.col-md-9.col-sm-9 {
                    display: -webkit-inline-flex;
                    display: -moz-inline-flex;
                    display: -ms-inline-flex;
                    display: -o-inline-flex;
                    display: inline-flex;
                    -ms-align-items: center;
                    align-items: center;
                    border-left: 1px dashed #ddd;
                }

        .tips {
            font-size: 12px;
            color: #565d67;
            padding-left: 12px;
        }

        #divtree {
            padding: 0 24px;
        }

        @@media screen and (min-width: 1600px) {
            #divtree {
                padding: 0 56px;
            }
        }

        .divtreeTool {
            font-size: 0;
        }

            .divtreeTool button {
                width: calc((100% - 6px * 2)/ 3 );
                margin: 0 6px 6px 0;
                font-size: 12px;
            }

                .divtreeTool button:last-child {
                    margin-right: 0;
                }

            .divtreeTool .btn-divtreeTool {
                padding: 12px 0;
            }

        .paper-wrap:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-width: 0 42px 42px 0;
            border-style: solid;
            border-color: #ffffff #253856;
            -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
        }

        .card .header .row .col-lg-7.col-md-7.col-sm-7 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
        }

        table {
            font-size: 14px !important;
            color: #575b61 !important;
        }

        .card .body {
            font-size: 14px !important;
            color: #575b61 !important;
            padding: 0 20px !important;
        }

            .card .body .row, #divCompanyPoint.card .body {
                margin: 0 0 8px 0;
            }

        /*.card.wallet {
            width: 120px;
        }*/

        .footer {
            padding: 16px 0;
        }
        /*.theme-cyan .card .header h2:before{background: #45B6B0; top: -17px;}*/
        .ortherText button {
            margin: 0 8px;
        }

        .theme-cyan .btn-primary {
            background: #65C3DF;
        }

        .dataTables_wrapper input[type="search"]:focus, .dataTables_wrapper input[type="search"]:active {
            border-bottom: 2px solid #65C3DF;
        }

        div.dataTables_wrapper div.dataTables_paginate ul.pagination {
            margin: 16px 0 8px;
        }


        .theme-cyan .btn-primary:active, .theme-cyan .btn-primary:hover, .theme-cyan .btn-primary:focus {
            background: #45B6B0;
        }

        .sorting_1:focus {
            outline: 0;
        }

        .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
            background-color: #446288;
        }

        button.btn-circle {
            width: 36px;
            height: 36px;
            padding: 0;
            border-radius: 50%;
            line-height: 36px;
        }

        button.btn-round {
            padding: 9px 24px;
        }

        table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
            background-color: #65C3DF;
        }

        footer.footer {
            text-align: right;
            padding: 0;
            background-color: #fff;
            border-top: 1px solid #ccc;
        }

            footer.footer p {
                display: inline-block;
                margin: 0 20px 0 0;
                font-size: 12px;
                color: #aaa;
            }

        [data-notify="container"][class*="alert-pastel-"] {
            background-color: rgb(255, 255, 238);
            border-width: 0px;
            border-left: 15px solid rgb(255, 240, 106);
            border-radius: 0px;
            box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
            font-family: 'Old Standard TT', serif;
            letter-spacing: 1px;
            opacity: 0.9;
            width: 90%;
        }

        [data-notify="container"].alert-pastel-info {
            border-left-color: rgb(255, 179, 40);
        }

        [data-notify="container"].alert-pastel-danger {
            border-left-color: rgb(255, 103, 76);
        }

        [data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
            color: rgb(80, 80, 57);
            display: block;
            font-weight: 700;
            margin-bottom: 5px;
        }

        [data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
            font-weight: 400;
            color: black;
        }

        .alert .close {
            color: black !important;
            margin-right: 20px;
        }

        .selectedItem {
            /*color: forestgreen;*/
            /*background: #DDDDDD;*/
            border-color: black;
        }

            .selectedItem:hover {
                /*color: forestgreen;*/
                /*background: #DDDDDD;*/
            }

        .dd-handle:hover {
            cursor: pointer;
        }

        table .selected {
            background-color: #a2aec7 !important;
        }

        .show > .dropdown-toggle {
            /*color: #fff !important;*/
        }

        .table-responsive > div > table {
            width: 100%;
        }

        .dtr-data {
            word-break: normal;
            width: auto;
            display: block;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: hidden;
        }


        .divDetailData .card {
            background-color: #fff;
        }

        .divDetailData > .card > .header {
            padding: 12px 16px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        .divPointDetail {
            font-size: 0;
            white-space: nowrap;
        }

            .divPointDetail .footer {
                padding: 0;
            }

            .divPointDetail .card.wallet {
                border-right: 1px solid rgba(0,0,0,0.1) !important;
                margin-bottom: 30px;
                border-radius: 0;
            }

                .divPointDetail .card.wallet:last-child {
                    border-right: 0;
                }

            .divPointDetail .card.wallet {
                background: none;
                box-shadow: none;
            }

                .divPointDetail .card.wallet .header {
                    padding: 4px 20px 8px;
                }

                .divPointDetail .card.wallet h2:before {
                    width: 16px;
                    height: 2px;
                    top: -4px;
                }

                .divPointDetail .card.wallet p.text-muted, .divPointDetail .card.wallet p.wallettext-muted {
                    color: #6f7884 !important;
                    margin: 0;
                    white-space: pre-wrap;
                    font-size: 18px;
                }

        /*.table-responsive .dataTables_length .btn-group button {
            border-radius: 8px !important;
        }

        .table-responsive .dataTables_length .btn-group.bootstrap-select.form-control.form-control-sm button:active,
        .table-responsive .dataTables_length .btn-group.bootstrap-select.form-control.form-control-sm button:focus {
            border-color: #fff;
        }

        .table-responsive .dataTables_length .btn-group.bootstrap-select.form-control.form-control-sm button span {
            color: #fff;
        }*/

        .table-responsive table th {
            font-weight: normal;
        }
    </style>
</head>

<style>
    .dropdown-menu {
        max-height: 300px !important;
    }
</style>

<script>
    var EditData = parent.CheckTempDataType("CompanyServiceAdd");
    var checkServiceTypeData = null;
    var selectedServiceType = null;
    var CompanyID = EditData.data.CompanyID;
    var ParentCompanyID = EditData.data.ParentCompanyID;

    $(document).ready(function () {
        pageLoad();
    });
    function pageLoad() {
        if ('@CheckLoginPermission' == 'false') {
                location.href = "Login.cshtml";
            }

        AdminObject = parent.AdminObject;
        api = parent.api;
        new AutoNumeric.multiple('.thousand-symbols', 'floatPos', { allowDecimalPadding: false, decimalPlaces: 4, modifyValueOnWheel: false });
        new AutoNumeric.multiple('.percent', 'integer', { allowDecimalPadding: false, decimalPlaces: 4, minimumValue: 0, maximumValue: 100 });

        $('.thousand-symbols').unbind('focus');
        getServiceType();
        parent.wrapperFadeOut();

        if (AdminObject.CompanyType == 0 && ParentCompanyID == 0) {
            $('#divCheckoutType').show();
        }
      
        $('#btnCompanyServiceSave').on('click', function () {
       
            if ($("#select_ServiceType").val()== 0) {
                parent.warningAlert("请先选择渠道");
                return;
            }

            if (!selectedServiceType) {
                parent.warningAlert("渠道选择错误");
                return;
            }

            if ($("#input_CollectRate").val().trim() == "") {
                parent.warningAlert("请先输入单笔交易费率(%)");
                return;
            }

            if (!Number.isInteger(parseInt($("#input_CollectRate").val().trim()))||$("#input_CollectRate").val().trim() > 100 || $("#input_CollectRate").val().trim() < 0) {
                parent.warningAlert("单笔交易费率(%)只能介于0~100");
                return;
            }

            if ($("#input_MinOnceAmount").val().trim() == "") {
                parent.warningAlert("请先输入单笔交易最低金额");
                return;
            }

            if ($("#input_MaxOnceAmount").val().trim() == "") {
                parent.warningAlert("请先输入单笔交易最高金额");
                return;
            }

            if ($("#input_MaxDaliyAmount").val().trim() == "") {
                parent.warningAlert("请先输入每日交易最大用量");
                return;
            }

            if (toNumber($("#input_MinOnceAmount").val()) > toNumber($("#input_MaxOnceAmount").val())) {
                parent.warningAlert("单笔交易最低金额不可超过单笔交易最高金额");
                return;
            }


            if ($("#divGPayRelationDetail input:checked").length > 0) {
                var CostRate = 0;
                var CostCharge = 0;
                var MinOnceAmount = 0;
                var MaxOnceAmount = 0;
                var MaxDaliyAmount = 0;
                for (var i = 0; i < $("#divGPayRelationDetail input:checked").length; i++) {

                    if (i == 0) {
                        CostRate = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostRate').text());
                        CostCharge = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostCharge').text());
                        MinOnceAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MinOnceAmount').text());
                        MaxOnceAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxOnceAmount').text());
                        MaxDaliyAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxDaliyAmount').text());
                    } else {
                        if (CostRate < toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostRate').text())) {
                            CostRate = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostRate').text());
                        }
                        if (CostCharge < toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostCharge').text())) {
                            CostCharge = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostCharge').text());
                        }
                        if (MinOnceAmount > toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MinOnceAmount').text())) {
                            MinOnceAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MinOnceAmount').text());
                        }
                        if (MaxOnceAmount < toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxOnceAmount').text())) {
                            MaxOnceAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxOnceAmount').text());
                        }
                        if (MaxDaliyAmount > toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxDaliyAmount').text())) {
                            MaxDaliyAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxDaliyAmount').text());
                        }
                    }
                }

                var tmpCollectRate = $("#input_CollectRate").val().trim();
                var tmpCollectCharge = $("#input_CollectCharge").val().trim();
                var tmpMinOnceAmount = $("#input_MinOnceAmount").val().trim();
                var tmpMaxOnceAmount = $("#input_MaxOnceAmount").val().trim();
                var tmpMaxDaliyAmount = $("#input_MaxDaliyAmount").val().trim();

                if (toNumber(tmpCollectRate) < CostRate) {
                    parent.warningAlert("单笔交易费率(%)小于供应商费率");
                    return;
                }
               
                if (toNumber(tmpMinOnceAmount) < MinOnceAmount) {
                    parent.warningAlert("单笔交易最低金额小于供应商最低金额");
                    return;
                }
                if (toNumber(tmpMaxOnceAmount) > MaxOnceAmount) {
                    parent.warningAlert("单笔交易最高金额大于供应商最高金额");
                    return;
                }
                //if (tmpMaxDaliyAmount > MaxDaliyAmount) {
                //    warningAlert("單筆交易費率(%)小於供應商費率");
                //}
            }

            //目前新增的商戶為其他商戶下線,則驗證是否設定的費率大於上線的交易費率
            if (selectedServiceType.isUpLine == 0) {
                if (selectedServiceType.CollectRate > $("#input_CollectRate").val().trim()) {
                    parent.warningAlert("单笔交易费率(%) 需超过或等于上线额");
                    return;
                }

              
                if (toNumber($("#input_MinOnceAmount").val()) < selectedServiceType.MinOnceAmount) {
                    parent.warningAlert("单笔交易最低金额 需超过或等于上线额");
                    $("#input_MinOnceAmount").focus();
                    return;
                }

                if (toNumber($("#input_MaxOnceAmount").val()) > selectedServiceType.MaxOnceAmount) {
                    parent.warningAlert("单笔交易最高金额 不可超过上线额");
                    return;
                }

                //if (toNumber($("#input_MaxDaliyAmount").val()) > selectedServiceType.MaxDaliyAmount) {
                //    parent.warningAlert("每日交易最大用量 超过上线额");
                //    return;
                //}
            }
            
            var lstProviderCode = [];
            for (var i = 0; i < $("#divGPayRelationDetail input:checked").length; i++) {
                var provider = new Object();
                provider.ProviderCode = $("#divGPayRelationDetail input:checked").eq(i).attr("id");
                provider.Weight = $("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_Weight').val();
                lstProviderCode.push(provider);
    
            }
            
            var companyID = CompanyID;
            var serviceType = $("#select_ServiceType").val().split("_")[0];
            var currencyType = $("#select_ServiceType").val().split("_")[1];
            var collectRate = $("#input_CollectRate").val().trim();
            var collectCharge = $("#input_CollectCharge").val().trim();
            var maxDaliyAmount = $("#input_MaxDaliyAmount").val().trim();
            var minOnceAmount = $("#input_MinOnceAmount").val().trim();
            var maxOnceAmount = $("#input_MaxOnceAmount").val().trim();
            var state = $('input[name=radioState]:checked').val();
            var checkoutType = $('input[name=rdoCheckoutType]:checked').val();
            var description = $('#Description').val();
            api.insertCompanyService(companyID, serviceType, currencyType, collectRate, collectCharge, maxDaliyAmount, minOnceAmount, maxOnceAmount, checkoutType, state, lstProviderCode, description, function (success, obj) {
                if (obj.ResultCode == 0) {
            
                    TempData = {
                        "type": "afterModifyCompany",
                        "data": companyID
                    }
                    sessionStorage.setItem("TempData", JSON.stringify(TempData));
                    parent.successAlert(function () {
                        parent.refreshPage(EditData.data.backID);
                        parent.CloseActivePage(window.frameElement.name);
                    });
                } else {
                    var message = ""
                    switch (obj.ResultCode) {
                        case 4:
                            parent.errorAlertCallback("权限不足", function () {
                                parent.ChangePage("Home");
                                parent.CloseActivePage(window.frameElement.id.split('_')[1]);
                            });
                            break;
                        case 7:
                            parent.errorAlert("您已断线请重新登入", "Login.cshtml");
                            break;
                        case 8:
                            parent.warningAlert("渠道资料已存在");
                            break;
                        case 10:
                            parent.warningAlert("上线额度不足");
                            break;
                        default:
                            parent.warningAlert("其他错误");
                            break;
                    }
                }
            });

        })

        $('#btnCompanyServiceCancel').on('click', function () {

            TempData = {
                "type": "afterModifyCompany",
                "data": CompanyID
            }

            sessionStorage.setItem("TempData", JSON.stringify(TempData));
            parent.ChangePage(EditData.data.backID);
            parent.CloseActivePage(window.frameElement.name);
        })
    }

    function getServiceType() {
        api.getServiceType(CompanyID,function (success, obj) {
            if (obj.ResultCode == 0) {
                if (obj.ServiceTypes.length > 0) {
                    checkServiceTypeData = obj.ServiceTypes;
                    var groupName = "";
                    $("#select_ServiceType").children().remove();
                    $("#select_ServiceType").append('<option value="0"> -- 请选择渠道 -- </option>');
                    var optgroup;
                    $.each(obj.ServiceTypes, function (i, item) {
                        if (groupName != obj.ServiceTypes[i].CurrencyType) {
                            groupName = obj.ServiceTypes[i].CurrencyType;
                            optgroup = $('<optgroup label="' + groupName + '">');
                            $("#select_ServiceType").append(optgroup);
                        }
                        optgroup.append('<option value="' + obj.ServiceTypes[i].ServiceType + "_" + obj.ServiceTypes[i].CurrencyType + '">' + obj.ServiceTypes[i].ServiceTypeName + '</option>');
                    })
                    $('#select_ServiceType').selectpicker('refresh');

                    $("#select_ServiceType").change(function () {
                        $('#input_CollectRate').val("");
                        $('#input_MinOnceAmount').val("");
                        $('#input_MaxOnceAmount').val("");
                        $('#input_MaxDaliyAmount').val("");
                        changeNotifyLabelText($(this).val());
                    })
                } else {
                    checkServiceTypeData = null;
                    parent.warningAlert("尚未设定供应商对应渠道");
                }
            } else {
                var message = ""
                checkServiceTypeData = null;
                switch (obj.ResultCode) {
                    case 4:
                        parent.errorAlertCallback("权限不足", function () {
                            parent.ChangePage("Home");
                            parent.CloseActivePage(window.frameElement.id.split('_')[1]);
                        });
                        break;
                    case 5:
                        parent.warningAlert("尚未设定供应商对应渠道");
                        break;
                    case 7:
                        parent.errorAlert("您已断线请重新登入", "Login.cshtml");
                        break;
                    default:
                        parent.warningAlert("其他错误");
                        break;
                }
            }
        });
    }

    function changeNotifyLabelText(serviceType) {
        if (checkServiceTypeData) {
            if (serviceType == 0) {
                $("#divGPayRelationDetail").html("&nbsp;&nbsp;&nbsp;&nbsp;尚未设定供应商");
                $('#notifyCollectRate').text("");
                $('#notifyCollectCharge').text("");
                $('#notifyMinOnceAmount').text("");
                $('#notifyMaxOnceAmount').text("");
                $('#notifyMaxDaliyAmount').text("");
       
            } else {
                var _serviceType = serviceType.split("_")[0];
                var _currencyType = serviceType.split("_")[1];
              
                var selectedServiceTypeIndex = checkServiceTypeData.findIndex(function (d) { return d.ServiceType == _serviceType && d.CurrencyType == _currencyType })
                if (selectedServiceTypeIndex == -1) {
                    parent.warningAlert("渠道选择错误");
                } else {
                    selectedServiceType = checkServiceTypeData[selectedServiceTypeIndex];
              
                    if (selectedServiceType.isUpLine == 0) {
                        $('#notifyCollectRate').text("(最高需超过或等于" + selectedServiceType.CollectRate + "%" + ")");
                        $('#notifyCollectCharge').text("(最高需超过或等于" + toCurrency(selectedServiceType.CollectCharge) + ")");
                        $('#notifyMinOnceAmount').text("(需超过或等于" + toCurrency(selectedServiceType.MinOnceAmount) + ")");
                        $('#notifyMaxOnceAmount').text("(最高不可超过" + toCurrency(selectedServiceType.MaxOnceAmount) + ")");
                        //$('#notifyMaxDaliyAmount').text("(最高不可超过" + toCurrency(selectedServiceType.MaxDaliyAmount) + ")");
                    }
            

                    //取得供應商渠道
                    //取得是否有以設定過的供應商,當為最高權限時才有此設定
                    // && selectedServiceType.isUpLine == 1
                    if (AdminObject.CompanyType == 0) {
                      
                        $('#providerServiceSet').show();
                 
                        $("#divGPayRelationDetail").html("&nbsp;&nbsp;&nbsp;&nbsp;尚未设定供应商");
                        api.getProviderServiceGPayRelationByCompany(_serviceType, _currencyType, CompanyID, function (s, obj) {
                            if (obj.ResultCode == 0) {
                                CreateGPayRelation(obj.ProviderServices);
                            } else {
                                var message = ""
                                switch (obj.ResultCode) {
                                    case 4:
                                        parent.errorAlertCallback("权限不足", function () {
                                            parent.ChangePage("Home");
                                            parent.CloseActivePage(window.frameElement.id.split('_')[1]);
                                        });
                                        break;
                                    case 7:
                                        parent.errorAlert("您已断线请重新登入", "Login.cshtml");
                                        break;
                                    case 5:
                                        $("#divGPayRelationDetail").html("&nbsp;&nbsp;&nbsp;&nbsp;尚未设定供应商");
                                        break;
                                    default:
                                        break;
                                }
                            }    
                        });
                    }
                       

                }
             
          
            }
        }
      
    }


    function CreateGPayRelation(data) {
        var strGPayRelationDetail = "";
        var ProviderService = "";
        var DeviceType = "";

            $.each(data, function (i, item) {

                ProviderService = data[i].State == "0" ? '<span style="color:blue;">启用</span>' : '<span style="color:red;">停用</span>';
         
                switch (data[i].DeviceType) {
                    case 1:
                        DeviceType = "PC";
                        break;
                    case 2:
                        DeviceType = "手机";
                        break;
                    case 3:
                        DeviceType = "PC+手机";
                        break;
                    default:
                        DeviceType = "";
                        break;
                }


                strGPayRelationDetail += '<div class="col-lg-2 col-md-6">' +
                    '<div class="card" >' +
                    '<div class="header" style="padding-bottom:0">';

                strGPayRelationDetail += '<div class="checkbox inlineblock delete_all"><input class="RelationModel_checkbox" id="' + data[i].ProviderCode + '" type="checkbox"><label for="' + data[i].ProviderCode + '">' + data[i].ProviderName + ' </label></div>';

                strGPayRelationDetail += '</div > ' +
                    '<div class="body" style="padding-top:0"> ' +
                    '<p class="text-muted">单笔交易成本费率： <span class="RelationModel_CostRate">' + data[i].CostRate + '</span></p>' +
                    '<p class="text-muted">单笔交易最低金额： <span class="RelationModel_MinOnceAmount">' + toCurrency(data[i].MinOnceAmount) + '</span></p>' +
                    '<p class="text-muted">单笔交易最高金额： <span class="RelationModel_MaxOnceAmount">' + toCurrency(data[i].MaxOnceAmount) + '</span></p>' +
                    '<p class="text-muted">每日交易最大用量： <span class="RelationModel_MaxDaliyAmount">' + toCurrency(data[i].MaxDaliyAmount) + '</span></p>' +
                    '<p class="text-muted">币别： <span class="RelationModel_CurrencyType">' + data[i].CurrencyType + '</span></p>' +
                    '<p class="text-muted">状态： <span class="RelationModel_ProviderService">' + ProviderService + '</span></p>' +
                    '<p class="text-muted">装置： <span class="RelationModel_DeviceType">' + DeviceType + '</span></p>' +
                    '<p class="text-muted">权重： <input data-rule="currency" style="width:50%;display: inline-block;" class="form-control RelationModel_Weight" type="text" value="' + data[i].Weight+'"></p>' +
                    '</div ></div ></div > ';
        })

        $("#divGPayRelationDetail").html(strGPayRelationDetail);
        new AutoNumeric.multiple('.RelationModel_Weight', 'integerPos', { allowDecimalPadding: false, decimalPlaces: 0, minimumValue: 1, maximumValue: 100 });

        $('.RelationModel_checkbox').change(function () {
    
            var CostRate = "";
            var CostCharge = "";
            var MinOnceAmount = "";
            var MaxOnceAmount = "";
            var MaxDaliyAmount = "";

            if ($("#divGPayRelationDetail input:checked").length > 0) {
                for (var i = 0; i < $("#divGPayRelationDetail input:checked").length; i++) {
                    if (i == 0) {
                        CostRate = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostRate').text());
                        CostCharge = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostCharge').text());
                        MinOnceAmount = toNumber( $("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MinOnceAmount').text());
                        MaxOnceAmount = toNumber( $("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxOnceAmount').text());
                        MaxDaliyAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxDaliyAmount').text());
                    } else {
                        if (CostRate < toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostRate').text())) {
                            CostRate = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostRate').text());
                        }
                        if (CostCharge < toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostCharge').text())) {
                            CostCharge = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_CostCharge').text());
                        }
                        if (MinOnceAmount < toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MinOnceAmount').text())) {
                            MinOnceAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MinOnceAmount').text());
                        }
                        if (MaxOnceAmount > toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxOnceAmount').text())) {
                            MaxOnceAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxOnceAmount').text());
                        }
                        if (MaxDaliyAmount > toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxDaliyAmount').text())) {
                            MaxDaliyAmount = toNumber($("#divGPayRelationDetail input:checked").eq(i).parent().parent().parent().find('.RelationModel_MaxDaliyAmount').text());
                        }
                    }
                }
            }
            
            $('#input_CollectCharge').val(toCurrency(CostCharge));
            $('#input_CollectRate').val(toCurrency(CostRate));
            $('#input_MinOnceAmount').val(toCurrency(MinOnceAmount));
            $('#input_MaxOnceAmount').val(toCurrency(MaxOnceAmount));
            $('#input_MaxDaliyAmount').val(toCurrency(MaxDaliyAmount));

        })
    }

   
</script>

<body class="theme-cyan">
    <div class="block-header paper-wrap">
        <div class="row">
            <div class="col col-lg-3 col-md-3 col-sm-3">
                <h2>商戶渠道新增</h2>
            </div>
            <div class="col col-lg-9 col-md-9 col-sm-9">
                <div class="tips">
                    <span></span>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header"></div>
                    <div class="body">
                        <form>
                            <label for="select_ServiceType">渠道选择 : </label>

                            <select class="form-control show-tick" id="select_ServiceType"></select>
                            <div id="providerServiceSet" style="display:none;">
                                <label for="select_ServiceType">渠道设定 : </label>
                                <div class="form-group" style="margin-top:5px">
                                    <div class="col-lg-12 col-md-12 col-sm-12">

                                        <div class="row clearfix" id="divGPayRelationDetail">
                                            &nbsp;&nbsp;&nbsp;&nbsp;尚未设定供应商
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <label for="input_CollectRate">单笔交易费率(%) : </label><label id="notifyCollectRate" style="color:red;margin:5px"></label>
                            <div class="form-group">
                                <input data-rule="percent" class="form-control percent" id="input_CollectRate" type="text" placeholder="请输入单笔交易費率(%)">
                            </div>

                            <label style="display:none" for="input_CollectCharge">单笔交易费(/次) : </label><label id="notifyCollectCharge" style="color:red;margin:5px;display:none"></label>
                            <div class="form-group">
                                <input style="display:none" data-rule="currency" value="0" class="form-control thousand-symbols" id="input_CollectCharge" type="text" placeholder="请输入单笔交易费(/次)">
                            </div>

                            <label for="input_MinOnceAmount">单笔交易最低金额 : </label><label id="notifyMinOnceAmount" style="color:red;margin:5px"></label>
                            <div class="form-group">
                                <input data-rule="currency" class="form-control thousand-symbols" id="input_MinOnceAmount" type="text" placeholder="请输入单笔交易最低金額">
                            </div>

                            <label for="input_MaxOnceAmount">单笔交易最高金额 : </label><label id="notifyMaxOnceAmount" style="color:red;margin:5px"></label>
                            <div class="form-group">
                                <input data-rule="currency" class="form-control thousand-symbols" id="input_MaxOnceAmount" type="text" placeholder="请输入单笔交易最高金额">
                            </div>

                            <label for="input_MaxDaliyAmount">每日交易最大用量 : </label><label id="notifyMaxDaliyAmount" style="color:red;margin:5px;display:none"></label>
                            <div class="form-group">
                                <input data-rule="currency" class="form-control thousand-symbols" id="input_MaxDaliyAmount" type="text" placeholder="请输入每日交易最大用量">
                            </div>

                            <div id="divCheckoutType" style="display:none">
                                <label for="">结算时间 : </label>
                                <div class="radio">
                                    <input type="radio" name="rdoCheckoutType" id="CheckoutType0" value="0" checked="checked">
                                    <label for="CheckoutType0">
                                        当日结算
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="rdoCheckoutType" id="CheckoutType1" value="1">
                                    <label for="CheckoutType1">
                                        隔日结算
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="rdoCheckoutType" id="CheckoutType2" value="2">
                                    <label for="CheckoutType2">
                                        当周结算
                                    </label>
                                </div>
                            </div>
                            <label for="">状态 : </label>
                            <div class="radio">
                                <input type="radio" name="radioState" id="radioState0" value="0" checked="checked">
                                <label for="radioState0">
                                    启用
                                </label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radioState" id="radioState1" value="1">
                                <label for="radioState1">
                                    停用
                                </label>
                            </div>
                            <label for="Description">备注 : </label>
                            <div class="form-group">
                                <textarea id="Description" style="width:250px;height:120px"></textarea>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" id="btnCompanyServiceSave">送出</button>
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" id="btnCompanyServiceCancel">取消</button>
                            </div>

                        </form>
                    </div>
                    <div class="footer"></div>
                </div>
            </div>
        </div>


        @*<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">

                        <div class="body">
                            <div class="row clearfix" style="margin:0" id="divGPayRelationDetail">

                            </div>
                        </div>

                    </div>
                </div>
            </div>*@

        <!-- #END# Vertical Layout -->


    </div>

</body>
