@{
    var bc = new BackendController(); string BID = HttpContext.Current.Request.Cookies.AllKeys.Contains("BID") == true ?  HttpContext.Current.Request.Cookies["BID"].Value.ToString():"";
    ;
    var RCheckLoginIP = bc.CheckLoginIPByCompany(BID);
    string CheckLoginPermission = "success";
    if (RCheckLoginIP.ResultCode != BackendController.APIResult.enumResult.OK)
    {
        CheckLoginPermission = "false";
    }

    var AdminData = "";
    var AdminJsonData = string.Empty;

    AdminData = bc.CreateSession(BID);


    if (!string.IsNullOrEmpty(AdminData))
{
        AdminJsonData = AdminData;
    }


}
<!DOCTYPE html>

<html class="no-js " lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>GPay</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="~/VPay/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap Select Css -->
    <link href="~/VPay/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/VPay/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/VPay/assets/plugins/morrisjs/morris.min.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/VPay/assets/css/main.css">
    <link rel="stylesheet" href="~/VPay/assets/css/color_skins.css">
    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="~/VPay/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">

    <!-- JQuery sweetalert Css -->
    <link href="~/VPay/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- JQuery jquery-nestable Css -->
    <link href="~/VPay/assets/plugins/nestable/jquery-nestable.css" rel="stylesheet" />
    <!-- datetimepicker Css-->
    <link href="~/VPay/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- JQuery multi-select Css -->
    <link href="~/VPay/assets/plugins/multi-select/css/multi-select.css" rel="stylesheet" />
    <link href="~/VPay/assets/css/ecommerce.css" rel="stylesheet" />
    <!-- jquery-ui Css -->
    <link href="~/VPay/assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/VPay/assets/css/ui.tabs.overflowResize.css" rel="stylesheet" />
    <!-- Jquery Core Js -->
    <script src="~/VPay/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/VPay/assets/js/D3/d3.min.js"></script>
    <script src="~/VPay/assets/bundles/libscripts.bundle.js"></script> <!--Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js)-->
    <script src="~/VPay/assets/bundles/vendorscripts.bundle.js"></script>  <!--slimscroll, waves Scripts Plugin Js-->
    <script src="~/VPay/assets/plugins/multi-select/js/jquery.multi-select.js"></script>
    <script src="~/VPay/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
    <script src="~/VPay/assets/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
    <script src="~/VPay/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/VPay/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/VPay/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/VPay/assets/js/pages/index.js"></script>
    <script src="~/VPay/assets/plugins/nestable/jquery.nestable.js"></script>
    <script src="~/VPay/assets/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/VPay/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/VPay/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/VPay/assets/plugins/jquery-datatable/dataTables.responsive.min.js"></script>
    <script src="~/VPay/assets/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <!-- basic-form-elements Js -->
    @*<script src="assets/js/pages/forms/basic-form-elements.js"></script>*@
    <!-- datetimepicker Js -->
    <script src="~/VPay/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- sweetalert Plugin Js -->
    <script src="~/VPay/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/VPay/assets/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <script src="~/VPay/assets/js/BackendJS/BackendAPI.js?20210209"></script>
    <script src="~/VPay/assets/js/AutoNumeric.js"></script>
    <script src="~/VPay/assets/js/ion.sound.min.js"></script>
    <!-- JQuery 頁籤 Js -->
    <script src="~/VPay/assets/js/jquery-ui.js"></script>
    <script src="~/VPay/assets/js/ui.tabs.overflowResize.js"></script>
    <script src="~/VPay/assets/js/ui.tabs.addTab.js"></script>
    <script src="~/VPay/assets/js/ui.tabs.closable.js"></script>
    <script src="~/VPay/assets/js/common.js"></script>
    <link href="/VPay/assets/css/Index.css" rel="stylesheet" />
   
    <script>
        var us_timeOut;
        var tw_timeOut;
        var apiURL = "/api/Backend";
        var api;
        var BID = '@BID';
        var TempData = {};
        var AdminJsonData = '@Html.Raw(AdminJsonData)';
        var AdminObject = null;
        var docChangeCompanyLabel;
        var docChangeiframeID;
        var riskControlData;
        var chineseTableLang = {
            "processing": "处理中...",
            "loadingRecords": "载入中...",
            "lengthMenu": "显示 _MENU_ 项结果",
            "zeroRecords": "没有符合的结果",
            "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "infoFiltered": "(從 _MAX_ 项结果中过滤)",
            "infoPostFix": "",
            "search": "搜寻:",
            "paginate": {
                "first": "第一页",
                "previous": "上一页",
                "next": "下一页",
                "last": "最后一页"
            },
            "aria": {
                "sortAscending": ": 升幂划分",
                "sortDescending": ": 降幂划分"
            }
        };
        var ion;
        $(document).ready(function () {
            if ('@CheckLoginPermission' == 'false') {
                location.href = "Login.cshtml";
            }

            window.onresize = function () {
                $("#menuContent").innerHeight(window.innerHeight - 150);
            }
            $("#menuContent").innerHeight(window.innerHeight - 150);

            //setInterval("protectTimeOut()", 30000);
            api = new BackendAPI(BID,apiURL);

            //#region 檢查Session
            if (AdminJsonData != "") {
                AdminObject = JSON.parse(AdminJsonData);
            }

            if (!AdminObject) {
                sessionLogout();
            }

            //#endregion

            timeDate2();

            AdminObject = JSON.parse(AdminJsonData);
            if (AdminObject.CompanyType == 0 || AdminObject.CompanyType == 3) {
                //聲音檔設定
                ion.sound({
                    sounds: [
                        { name: "sounds-942" },
                        { name: "googlesound" }
                    ],
                    volume: 1.0,
                    path: "/Sounds/",
                    preload: true,
                    multiplay: true
                });

                if (AdminObject.CompanyType == 0) {
                    if (getCookie("openMusic") == "") {
                        setCookie("openMusic", "true");
                    }

                    if (getCookie("openMusic") == "true") {
                        $('#openMusic').show();
                        $('#closeMusic').hide();
                    }
                    else {
                        $('#openMusic').hide();
                        $('#closeMusic').show();
                    }


                    if (getCookie("openWithdrawRiskControlMusic") == "") {
                        setCookie("openWithdrawRiskControlMusic", "true");
                    }

                    if (getCookie("openWithdrawRiskControlMusic") == "true") {
                        $('#openWithdrawRiskControlMusic').show();
                        $('#closeWithdrawRiskControlMusic').hide();
                    }
                    else {
                        $('#openWithdrawRiskControlMusic').hide();
                        $('#closeWithdrawRiskControlMusic').show();
                    }

                    if (getCookie("openRiskControlMusic") == "") {
                        setCookie("openRiskControlMusic", "true");
                    }

                    if (getCookie("openRiskControlMusic") == "true") {
                        $('#openRiskControlMusic').show();
                        $('#closeRiskControlMusic').hide();
                    }
                    else {
                        $('#openRiskControlMusic').hide();
                        $('#closeRiskControlMusic').show();
                    }

                    getWithdrawalCount();
                    getRiskControlByPaymentSuccessCount();
                    getRiskControlByWithdrawCount();
                    //getBackendNotifyTableResult2();
                    $('#divPaymentConfirmCount').parent().show();
                    $('#soundIcon').show();
                    setInterval(function () {
                        getWithdrawalCount();
                        getRiskControlByPaymentSuccessCount();
                        getRiskControlByWithdrawCount();
                    }, 30000);
                }
                else {

                    if (getCookie("openProviderOrderMusic") == "") {
                        setCookie("openProviderOrderMusic", "true");
                    }

                    if (getCookie("openProviderOrderMusic") == "true") {
                        $('#openProviderOrderMusic').show();
                        $('#closeProviderOrderMusic').hide();
                    }
                    else {
                        $('#openProviderOrderMusic').hide();
                        $('#closeProviderOrderMusic').show();
                    }

                    getProviderOrderCount();

                    //getBackendNotifyTableResult2();
                    $('#divWithdrawProviderConfirmCount').parent().show();
                    $('#divPaymentProviderConfirmCount').parent().show();
                    $('#soundIcon3').show();
                    setInterval(function () {
                        getProviderOrderCount();
                    }, 30000);
                }


            }

            $('#layoutLoginAccount').text(AdminObject.RealName);

            //#region 左邊目錄
            api.getPermissionTableResultbyAdminID(function (success, obj) {
                $("#leftsidebar .list>.menuli").empty();
                $(".tabpanel").tabs({
                    closable: true, addTab: false
                }).tabs('overflowResize')
                    .find(".ui-tabs-nav").sortable({
                        disabled: true
                    });
                //SessionError
                if (obj[0].ResultCode == 7) {
                    errorAlert("您已斷線請重新登入", "Login.cshtml");
                } else {
                    if (obj.length > 0) {
                        //$("#leftsidebar .list>.menuli").empty();
                        var menucount = 0;
                        $.each(obj, function (i, item) {
                            var strMenu = "";
                            var strimg = "";
                            switch (obj[i].PermissionCategoryName) {
                                case "Admin":
                                    strimg = '<i class="material-icons">pets</i>';
                                    break;
                                case "Agent":
                                    strimg = '<i class="zmdi zmdi-accounts"></i>';
                                    break;
                                case "Withdraw":
                                    strimg = '<i class="material-icons" style="font-size:20px">money</i>';
                                    //strimg = '<img src="/VPay/assets/images/cash-icon-300x300.png" />';
                                    break;
                                case "Transaction":
                                    strimg = '<i class="zmdi zmdi-transform"></i>';
                                    break;
                                case "Report":
                                    strimg = '<i class="zmdi zmdi-collection-text"></i>';
                                    break;
                                case "ProgramUse":
                                    strimg = '<i class="material-icons">videogame_asset</i>';
                                    break;
                                case "Normal":
                                    strimg = '<i class="material-icons">settings</i>';
                                    break;
                                default:
                                    strimg = '<i class="material-icons">build</i>';
                                    break;
                            }
                            //strMenu += '<li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi ' + strimg + '"></i><span>' + obj[i].CategoryDescription + '</span></a><ul class="ml-menu">';
                            strMenu += '<li class="menuli"><a href="javascript:void(0);" class="menu-toggle">' + strimg + '<span>' + obj[i].CategoryDescription + '</span></a><ul class="ml-menu">';
                            $.each(obj[i].PermissionResults, function (j, item) {
                                //strMenu += '<li class="menuli"><a onclick href="' + obj[i].PermissionResults[j].LinkURL + '">' + obj[i].PermissionResults[j].Description + '</a></li>';
                                strMenu += `<li class="menuli"><a data-pageid="${menucount}" data-pagename="${obj[i].PermissionResults[j].Description}" data-url="${obj[i].PermissionResults[j].LinkURL}" onclick="GoPage(${menucount},'${obj[i].PermissionResults[j].Description}','${obj[i].PermissionResults[j].LinkURL}')">${obj[i].PermissionResults[j].Description}</a></li>`;
                                menucount++;
                            })
                            strMenu += '</ul></li>';
                            $("#leftsidebar .list").append(strMenu);

                            $(".ml-menu>li>a").on('click', function () {
                                sessionStorage.setItem("menuselected", $(this).attr('href'));
                                $('.page-loader-wrapper').fadeIn();
                            })
                        })
                        //啟用
                        $.AdminsQuare.leftSideBar.activate();
                        if (window.sessionStorage["menuselected"]) {
                            var obj_a = $("a[href^='" + window.sessionStorage["menuselected"] + "']");
                            if (obj_a.length > 0) {
                                obj_a.css('font-weight', '600');
                                obj_a.css('color', 'cyan');
                                obj_a.parent().parent().slideToggle();
                                obj_a.parent().parent().parent().addClass('active open');
                                obj_a.parent().parent().parent().find('a').eq(0).addClass('toggled');

                            }
                        }
                    }
                }

                GoPage("Home");

                if (!AdminObject.CheckGoogleKeySuccess) {
                    errorAlertCallback("请先绑定谷歌验证器", function () {
                        GoPageByUrl("GoogleDoubleCheck.cshtml");
                    });
                }
            });
            //#endregion

            //#region 登出按鈕事件
            $("#btnLogout").on("click", function () {
                swal({
                    title: "是否要登出",
                    type: "warning",
                    confirmButtonText: "確認",
                    cancelButtonText: "取消",
                    showCancelButton: true,
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        api.userLogout(function (success, obj) {
                            if (success) {
                                sessionStorage.clear();
                                location.href = "Login";
                            }
                        });
                    } else {
                    }
                })
            })
            //#endregion



            if (typeof pageLoad == 'function') {
                pageLoad();
            }

            //setInterval(function () {
            //    api.updateBID(function (success, obj) {
            //        if (obj.ResultCode == 7) {
            //            errorAlert("您已斷線請重新登入", "Login.cshtml");
            //        }
            //    })
            //}, 240000)

            //setTimeout(function () {
            //    api.updateBID(function (success, obj) {
            //        if (obj.ResultCode == 7) {
            //            errorAlert("(BID)您已斷線請重新登入", "Login.cshtml");
            //        }
            //    })
            //    setTimeout(arguments.callee, 30000);
            //}, 30000);

        });

        function openProviderOrderMusic() {

            $('#openProviderOrderMusic').hide();
            $('#closeProviderOrderMusic').show();
            setCookie("openProviderOrderMusic", "false");
        }

        function closeProviderOrderMusic() {

            $('#openProviderOrderMusic').show();
            $('#closeProviderOrderMusic').hide();
            setCookie("openProviderOrderMusic", "true");
        }


        function openMusic() {

            $('#openMusic').hide();
            $('#closeMusic').show();
            setCookie("openMusic", "false");
        }

        function closeMusic() {

            $('#openMusic').show();
            $('#closeMusic').hide();
            setCookie("openMusic", "true");
        }

        function openRiskControlMusic() {

            $('#openRiskControlMusic').hide();
            $('#closeRiskControlMusic').show();
            setCookie("openRiskControlMusic", "false");
        }

        function closeRiskControlMusic() {

            $('#openRiskControlMusic').show();
            $('#closeRiskControlMusic').hide();
            setCookie("openRiskControlMusic", "true");
        }


        function openWithdrawRiskControlMusic() {

            $('#openWithdrawRiskControlMusic').hide();
            $('#closeWithdrawRiskControlMusic').show();
            setCookie("openWithdrawRiskControlMusic", "false");
        }

        function closeWithdrawRiskControlMusic() {

            $('#openWithdrawRiskControlMusic').show();
            $('#closeWithdrawRiskControlMusic').hide();
            setCookie("openWithdrawRiskControlMusic", "true");
        }


        function protectTimeOut() {
            document.getElementById('refresh').contentDocument.location.reload(true);
        }
        //#region 取得可選擇供應商列表
        //isProxy:是否只顯示身分為代理的商户
        //showAllCompanyBtn:是否有所有商户的選項
        function layout_getCompanyTableResult(isProxy,showAllCompanyBtn) {

            api.getCompanyTableResult(function (success, obj) {

                if (obj.ResultCode == 0) {
                    if (isProxy) {
                        obj.CompanyResults= $.grep(obj.CompanyResults, function (data) {
                            return data.CompanyType != 1;
                            });
                    }
                    updateSortable(obj.CompanyResults, "CompanyName", "CompanyID", "ParentCompanyID", showAllCompanyBtn);
                } else {
                    var message = ""
                    switch (obj.ResultCode) {
                        case 5:
                            message = "没有资料";
                            break;
                        default:
                            message = "其他错误";
                            break;
                    }

                    sweetAlert(message);
                }
            });
        }
        //#endregion

        function TableAdjust() {
                Table.columns.adjust();
        }

        //#region 重整供應商查詢列表資料
        function updateSortable(sortData, showName, dataId, parentId, showAllCompanyBtn) {
            $('.dd > .dd-list').remove();
            if (showAllCompanyBtn) {
                $('.dd').append('<ol class="dd-list"><li class="dd-item" data-id="' + "-99" + '" ><div class="dd-handle">'+"所有商户"+'</div></li></ol>');
            } else {
                $('.dd').append('<ol class="dd-list"></ol>');
            }


            var oldSortKey = '';
            for (var i = 0; i < sortData.length; i++) {
                var parentli = $('.dd>.dd-list li[data-id=' + sortData[i][parentId] + ']');

                var icon;
                var childcount;
                if (sortData[i]["CompanyType"] == 2) {

                    icon = '<i class="material-icons" style="vertical-align:middle;font-size: 20px;">person</i>';

                } else {
                    //icon = '<i class="material-icons" style="vertical-align:middle;font-size: 20px;">people</i>';
                    icon = '';
                }

                if (sortData[i]["ChildCompanyCount"] != 0) {

                    childcount = ' ' + '(' + sortData[i]["ChildCompanyCount"] + ")";
                } else {
                    childcount = '';
                }


                if (parentli.length > 0) {
                    if (parentli.find('.dd-list').length == 0) {
                        parentli.append('<ol class="dd-list"></ol>');
                        parentli.find('.dd-list').append('<li class="dd-item" data-id="' + sortData[i][dataId] + '" ><div class="dd-handle" style="line-height:20px">' + icon + "<span>" + sortData[i][showName]  + '</span><span>' + childcount+'</span></div></li>');
                    } else {
                        parentli.find('.dd-list').eq(0).append('<li class="dd-item" data-id="' + sortData[i][dataId] + '" ><div class="dd-handle" style="line-height:20px">' + icon + "<span>" + sortData[i][showName]  + '</span><span>' + childcount+'</span></div></li>');
                    }
                } else {
                    $('.dd > .dd-list').append('<li class="dd-item" data-id="' + sortData[i][dataId] + '"><div class="dd-handle" style="line-height:20px">' + icon + "<span>" + sortData[i][showName]  + '</span><span>' + childcount+'</span></div></li>');
                }
            }

            $('.dd').nestable({ updateTree: true, allowDrag: false });

            BindingBtn();

        }
        //#endregion

        //#region 顯示供應商查詢列表
        function showSelectCompany_menu(docLabel, iframeid) {
            docChangeCompanyLabel = docLabel;
            docChangeiframeID = iframeid;
            $('.dd .dd-handle').removeClass('selectedItem');
            $('#selectCompany_menu').show();
        }
        //#endregion

        //添加千分符號
        function toCurrency(num) {

            num = parseFloat(Number(num).toFixed(2));
            var parts = num.toString().split('.');
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            return parts.join('.');
        }

        //刪除千分符號
        function toNumber(num) {
            var returnNum = Number(num.trim().replace(/,/g, ""));
            return returnNum;
        }
        //是否為浮點數
        function isFloat(n) {
            return n === n && n !== (n | 0);
        }

        //#region 登出事件
        function sessionLogout() {
            $(".page-loader-wrapper").fadeOut();

            swal({
                title: "您已断线,请重新登录",
                type: "error",
                confirmButtonText: "确认",
                closeOnConfirm: false
            }, function () {
                sessionStorage.clear();
                location.href = "/Backend/Login.cshtml";
            })
        }

        function pageLogout() {
            $(".page-loader-wrapper").fadeOut();

                sessionStorage.clear();
                location.href = "/Backend/Login.cshtml";
        }
        //#endregion



        //#region 建立供應商列表後綁定按鈕事件
        function BindingBtn() {
            $('.dd-handle').on('click', function () {

                if ($(this).hasClass('selectedItem')) {
                    $(this).removeClass('selectedItem');
                } else {
                    $('.dd .dd-handle').removeClass('selectedItem');
                    $(this).addClass('selectedItem');
                }
                event.stopPropagation();
            });

            $('#btnexpandall').on('click', function () {
                $('.dd').nestable('expandAll');
            });

            $('#btncollapseAll').on('click', function () {
                $('.dd').nestable('collapseAll');
            });

            $('#btnSaveselectcompany').on('click', function () {

                if ($('.selectedItem').length == 0) {
                    sweetAlert("请先选择商户");
                } else {

                    $('#selectCompany_menu').hide();
                    docChangeCompanyLabel.attr("data-id", $('.selectedItem').closest("li").attr("data-id"));
                    if ($('.selectedItem').closest("li").attr("data-id")== "-99") {
                        docChangeCompanyLabel.text("所有商户");
                    } else {
                        docChangeCompanyLabel.text($('.selectedItem').find('span').eq(0).text());
                    }

                    if (typeof window.frames[docChangeiframeID].contentWindow.btnSaveselectcompanyCallback != "undefined") {
                        window.frames[docChangeiframeID].contentWindow.btnSaveselectcompanyCallback();
                    }
                }
            });

            $('#btnCancelselectcompany').on('click', function () {
                $('#selectCompany_menu').hide();
            });

            //搜尋 搜尋商户
            $("#input_CompanySerach").on("blur", function () {
                var searchContent = $(this).val();
                $(".divCompanyTree>ol>.d-none").removeClass("d-none");
                $(".divCompanyTree>ol>.OK").removeClass("OK");
                if (searchContent != "") {
                    $(".divCompanyTree").find("span").each(function (i, v) {
                        var itemContent = $(v).text();
                        if ((itemContent.toLocaleUpperCase().includes(searchContent.toLocaleUpperCase()))) {
                            $(v).parents(".divCompanyTree>ol>li").addClass("OK");
                            $(v).parents(".divCompanyTree>ol>li").removeClass("d-none");
                        } else {
                            if (!$(v).parents(".divCompanyTree>ol>li").hasClass("OK")) {
                                $(v).parents(".divCompanyTree>ol>li").addClass("d-none");
                            }
                        }
                    });
                }
            })

            $('.dd').nestable('collapseAll');
        }
        //#endregion

        //#region 跳頁
        //function GoPage(LinkURL) {
        //    $(".page-loader-wrapper").fadeIn();
        //    location.href = LinkURL;
        //}

        //#endregion



        function showNotify(title,message) {
            $.notify({
                title: title,
                message: message
            }, {
                    type: 'pastel-info',
                    delay: 15000,

                    placement: {
                        from: "bottom",
                        align: "right"
                    },
                    template: '<div data-notify="container" class="col-xs-5 col-sm-3 alert alert-{0}" role="alert" style="white-space: pre-line;">' +
                        '<button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="color:black !importment">×</button>' +
                        '<span data-notify="title">{1}</span>' +
                        '<span data-notify="message">{2}</span>' +
                        '</div>'
                });

        }

        function getBackendNotifyTableResult2() {
            api.getBackendNotifyTableResult2(function (success, obj) {
                if (obj.ResultCode == 0) {
                    $.each(obj.BackendNotifyResults, function (i, data) {

                        switch (data.Type) {
                            case 0:
                                try {
                                    var showdata = JSON.parse(data.Data);
                                             var DataStr =
                                                 "供应商 : " + showdata.ProviderName + "\n" +
                                                 "渠道 : " + showdata.ServiceTypeName + "\n" +
                                                 "停用者 : " + showdata.RealName + "\n";
                                    if (showdata.CompanyNames != "") {
                                        DataStr += "需停用服务商户 : " + showdata.CompanyNames;
                                    }
                                    showNotify("停用供应商渠道", DataStr);
                                } catch (e) {
                                    showNotify("讯息", data.Data);
                                }

                                break;
                            case 1:
                                showNotify("商户申请提现", "商戶 : " + data.CompanyName + "\n"  + data.Data);
                                break;
                            case 2:
                                showNotify("储值问题", "商戶 : " + data.CompanyName + "\n" + "讯息:" + data.Data);
                                break;
                            case 3:
                                showNotify("商户请求补单", "商戶 : " + data.CompanyName + "\n" + "单号:" + data.Data);
                                break;
                            default:
                        }
                    })
                } else {
                    var message = ""
                    switch (obj.ResultCode) {
                        case 5:

                            break;
                        case 4:
                            errorAlert("权限不足", "Login.cshtml");
                            break;
                        case 7:
                            errorAlert("您已断线请重新登入", "Login.cshtml");
                            break;
                        default:
                            errorAlert("您已断线请重新登入", "Login.cshtml");
                            break;
                    }
                }
            });
        }

        //#region 成功訊息
        function successAlert(cb) {
            swal({
                title: "更新成功",
                type: "success",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                if (cb) {
                    cb();
                }
            })
        }

        function successAlertAndcloseTab(pageID) {
            swal({
                title: "更新成功",
                type: "success",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                CloseActivePage(pageID);
            })
        }

        function successAlert2(url,title) {
            swal({
                title: title,
                type: "success",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                GoPage(url);
            })
        }

        function successAlert3(title,cb) {
            swal({
                title: title,
                type: "success",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                if (cb) {
                    cb();
                }
            })
        }

        function successAlert4(html, cb) {
            swal({
                title: "更新成功",
                type: "success",
                text: html,
                html: true,
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                if (cb) {
                    cb();
                }
            })
        }
        //#endregion

        //#region 錯誤訊息(顯示後跳頁)
        function errorAlert(title, url) {
            $(".page-loader-wrapper").fadeOut();

            swal({
                title: title,
                type: "error",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {

                location.href = url;
            })
        }

        function errorAlertAndtoOtrherPage(title, url, pageID,pageName) {
            $(".page-loader-wrapper").fadeOut();

            swal({
                title: title,
                type: "error",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                GoPage(pageID, pageName, url);
            })
        }


        function errorAlertCallback(title,cb) {
            $(".page-loader-wrapper").fadeOut();
            swal({
                title: title,
                type: "error",
                confirmButtonText: "确认",
                closeOnConfirm: true
            }, function () {
                cb();
            })
        }
        //#endregion

        //#region 警告訊息

        function warningAlert(title) {

            swal({
                title: title,
                type: "warning",
                confirmButtonText: "确认",
                closeOnConfirm: true
            });
        }

        function warningAlertByHtml(title,html) {

            swal({
                title: title,
                text: html,
                html: true,
                type: "warning",
                confirmButtonText: "确认",
                closeOnConfirm: true
            });
        }

        //#endregion

        //#region 時間設定
        function timeDate() {

            if (tw_timeOut) {
                clearTimeout(tw_timeOut);
            }

            document.getElementById('timeShowBox').innerHTML = '美东时间:' + new Date().toLocaleString('zh', { timeZone: 'America/New_York', hour12: true });
            us_timeOut = setTimeout('timeDate()', 1000);

        }

        function timeDate2() {

            if (us_timeOut) {
                clearTimeout(us_timeOut);
            }

            document.getElementById('timeShowBox').innerHTML = '北京时间:' + new Date().toLocaleString('zh', { timeZone: 'Asia/Taipei', hour12: true });
            tw_timeOut = setTimeout('timeDate2()', 1000);

        }

        function timeDateClick() {
            timeDate()
            displayTimeZone();
        }

        function timeDate2Click(){
            timeDate2();
            displayTimeZone();
        }

        function displayTimeZone() {
            document.getElementById('timeZoneSelect').classList.toggle('active');
        }
        //#endregion

        function getWithdrawalCount() {

            api.getWithdrawalCount(function (success, obj) {

                if (obj.ResultCode == 0) {
                    $('#spanPaymentConfirmCount').text("待审案件:" + obj.Message);
                    if (Number(obj.Message) > 0) {
                        if (getCookie("openMusic") == "true") {
                            playSound("sounds-942");
                        }
                    }
                } else {
                    switch (obj.ResultCode) {
                        case 4:
                            errorAlert("權限不足", "Index.cshtml");
                            break;
                        case 5:
                            warningAlert("沒有資料");
                            break;
                        case 7:
                            errorAlert("您已斷線請重新登入", "Login.cshtml");
                            break;
                        default:
                            //warningAlert("其他錯誤");
                            break;
                    }

                }
            });
        }

        function getProviderOrderCount() {

            api.getProviderOrderCount(function (success, obj) {

                if (obj.ResultCode == 0) {

                    $('#spanWithdrawProviderConfirmCount').text("提现案件:" + obj.Results.WithdrawCount);
                    $('#spanPaymentProviderConfirmCount').text("充值案件:" + obj.Results.PaymentCount);
                    if (obj.Results.WithdrawCount > 0 || obj.Results.PaymentCount>0) {
                        if (getCookie("openProviderOrderMusic") == "true") {
                            playSound("sounds-942");
                        }
                    }

                    if (obj.Results.WithdrawCountByTimeEnd > 0) {
                        if (getCookie("openProviderOrderMusic") == "true") {
                        playSound("googlesound");
                        }
                    }


                } else {
                    switch (obj.ResultCode) {
                        case 4:
                            errorAlert("權限不足", "Index.cshtml");
                            break;
                        case 5:
                            warningAlert("沒有資料");
                            break;
                        case 7:
                            errorAlert("您已斷線請重新登入", "Login.cshtml");
                            break;
                        default:
                            //warningAlert("其他錯誤");
                            break;
                    }

                }
            });
        }

        function getRiskControlByPaymentSuccessCount() {

            api.getRiskControlByPaymentSuccessCount(function (success, obj) {

                if (obj.ResultCode == 0) {
                    $('#divRiskControlByPaymentSuccessCount').parent().show();
                    $('#spanRiskControlByPaymentSuccessCount').text("充值异常");
                    $('#soundIcon2').show();
                    riskControlData = obj.Results;
                    if (getCookie("openRiskControlMusic") == "true") {
                            playSound("sounds-942");
                    }

                } else {
                    switch (obj.ResultCode) {
                        case 4:
                            errorAlert("權限不足", "Index.cshtml");
                            break;
                        case 5:
                            $('#soundIcon2').hide();
                            $('#divRiskControlByPaymentSuccessCount').parent().hide();
                           // warningAlert("沒有資料");
                            break;
                        case 7:
                            errorAlert("您已斷線請重新登入", "Login.cshtml");
                            break;
                        default:
                            //warningAlert("其他錯誤");
                            break;
                    }

                }
            });
        }

        function getRiskControlByWithdrawCount() {

            api.getRiskControlByWithdrawCount(function (success, obj) {

                if (obj.ResultCode == 0) {
                    $('#divRiskControlByWithdrawCount').parent().show();
                    $('#spanRiskControlByWithdrawCount').text("代付异常");
                    $('#soundIcon4').show();
                    if (getCookie("openWithdrawRiskControlMusic") == "true") {
                        playSound("sounds-942");
                    }

                } else {
                    switch (obj.ResultCode) {
                        case 4:
                            errorAlert("權限不足", "Index.cshtml");
                            break;
                        case 5:
                            $('#soundIcon4').hide();
                            $('#divRiskControlByWithdrawCount').parent().hide();
                            // warningAlert("沒有資料");
                            break;
                        case 7:
                            errorAlert("您已斷線請重新登入", "Login.cshtml");
                            break;
                        default:
                            //warningAlert("其他錯誤");
                            break;
                    }

                }
            });
        }

        function showRiskControlDetail() {

            if (riskControlData) {
                var showText = "";
                for (var i = 0; i < riskControlData.length; i++) {
                    showText += `IP: ${riskControlData[i].UserIP},時間:${riskControlData[i].StartDate}~${riskControlData[i].EndDate},筆數${riskControlData[i].Count}<br/>`;
                }
                swal({
                    title: "充值异常",
                    type: "warning",
                    text: showText,
                    html: true,
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                }, function () {
                    GoPageByUrl('RiskControlPaymentReport.cshtml');

                });

            }
        }

        function showWithdrawRiskControlDetail() {
            GoPageByUrl('RiskControlWithdrawalReport.cshtml');
        }

        //撥放聲音
        function playSound(mainFilename) {
           ion.sound.play(mainFilename);
        }

        function setCookie(cname, cvalue) {
            document.cookie = cname + "=" + cvalue;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }
        //關閉遮罩
        function wrapperFadeOut() {
            $(".page-loader-wrapper").fadeOut();
        }

        function wrapperFadeIn() {
            $(".page-loader-wrapper").fadeIn();
        }

        //#region 跳頁
        //function GoPage(LinkURL) {
        //    $(".page-loader-wrapper").fadeIn();
        //    location.href = LinkURL;
        //}
        function GoPage(PageID, TitleName, PageURL) {

            //if (PageID == "Home") {
            //    $("#menuTab").append("<li><a href='#" + PageID + "' class='closable' id='tab_" + PageID + "' style='font-size:15px !important'>" + PageID + "</a></li>");
            //    $("#menuContent").append("<div style='height:100%;padding:0 !important' id='" + PageID + "'><iframe id='iframe_" + PageID + "' name='" + PageID + "' style='width:100%;height:100%;border:white' src='" + PageID + ".cshtml'></iframe></div>");
            //    $(".tabpanel").tabs("refresh");
            //} else {

            //    if ($("#tab_" + PageID).length == 0) {
            //        $("#menuTab").append("<li><a href='#" + PageID + "' class='closable' id='tab_" + PageID + "' style='font-size:15px !important'>" + TitleName + "</a></li>");
            //        $("#menuContent").append("<div style='height:100%;padding:0 !important' id='" + PageID + "'><iframe id='iframe_" + PageID + "' name='" + PageID + "' style='width:100%;height:100%;border:white' src='" + PageURL + "'></iframe></div>");
            //        $(".tabpanel").tabs("refresh");
            //    } else {
            //        document.getElementById('iframe_' + PageID).contentDocument.location.reload(true);
            //    }
            //}

            ////跳到新建的頁面
            //$("#tab_" + PageID).click();
            ////去掉Home頁籤的叉叉
            //$("#tab_Home").next().remove();

                if (PageID == "Home") {
                    $("#menuTab").append("<li><a href='#" + PageID + "' class='closable' id='tab_" + PageID + "' style='font-size:15px !important'>" + PageID + "</a></li>");
                    $("#menuContent").append("<div style='height:100%;padding:0 !important' id='" + PageID + "'><iframe id='iframe_" + PageID + "' name='" + PageID + "' style='width:100%;height:100%;border:white' src='" + PageID + ".cshtml'></iframe></div>");
                    $(".tabpanel").tabs("refresh");
                } else {
                    if (!AdminObject.CheckGoogleKeySuccess) {

                        PageID = $('a[data-url="GoogleDoubleCheck.cshtml"]').data("pageid");
                        TitleName = $('a[data-url="GoogleDoubleCheck.cshtml"]').data("pagename");
                        PageURL = $('a[data-url="GoogleDoubleCheck.cshtml"]').data("url");
                    }
                    if ($("#tab_" + PageID).length == 0) {
                        $("#menuTab").append("<li><a href='#" + PageID + "' class='closable' id='tab_" + PageID + "' style='font-size:15px !important'>" + TitleName + "</a></li>");
                        $("#menuContent").append("<div style='height:100%;padding:0 !important' id='" + PageID + "'><iframe id='iframe_" + PageID + "' name='" + PageID + "' style='width:100%;height:100%;border:white' src='" + PageURL +"'></iframe></div>");
                        $(".tabpanel").tabs("refresh");

                        //tabs click event
                        $("#tab_" + PageID).click(function () {
                            if (typeof document.getElementById('iframe_' + PageID).contentWindow.$ != "undefined") {
                                document.getElementById('iframe_' + PageID).contentWindow.$.fn.dataTable.tables({ visible: true, api: true }).columns.adjust().draw();
                            }

                        })
                    } else {
                        document.getElementById('iframe_' + PageID).contentDocument.location.reload(true);
                    }
                }

                //跳到新建的頁面
                $("#tab_" + PageID).click();
                //去掉Home頁籤的叉叉
                $("#tab_Home").next().remove();
        }

        function GoPageByUrl(url) {
            $('a[data-url="' + url + '"]').click();
        }

        //關閉指定頁面
        function CloseActivePage(PageID) {

            $("#tab_" + PageID).next().click();
        }

        //换页
        function ChangePage(PageID) {
            $("#tab_" + PageID).click();
        }

        function refreshPage(PageID) {
            if (document.getElementById('iframe_' + PageID)) {
                wrapperFadeIn();
                document.getElementById('iframe_' + PageID).contentDocument.location.reload(true);
            }
        }

        //刷新當前使用的iframe
        function RefreshActiveIframe() {
            var PageID = $(window.parent.document).find(".ui-state-active").children().eq(0).attr("id").split("tab_")[1];
            wrapperFadeIn();
            document.getElementById('iframe_' + PageID).contentDocument.location.reload(true);

        }

        //关闭當前使用的iframe
        function CloseActiveIframe() {
            var PageID = $(window.parent.document).find(".ui-state-active").children().eq(0).attr("id").split("tab_")[1];
            CloseActivePage(PageID);
        }

        //#region 建立SessionStorage (驗證是否有選擇，有則跳頁，反之跳警告)
        function CreateSessionStorage(type, data, pagename, pageURL, backID, pageID) {

            if (data == undefined) {
                swal({
                    title: "请选择一笔资料！",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                });
            } else {
                data.backID = backID;
                TempData = {
                    "type": type,
                    "data": data
                };
                sessionStorage.setItem("TempData", JSON.stringify(TempData));
                GoPage(pageID, pagename, pageURL);
            }
        }
        //#endregion

        //#region 驗證TempData的Type是否與編輯頁面相同
        function CheckTempDataType(type1) {

            if (window.sessionStorage["TempData"] == undefined) {
                swal({
                    title: "错误",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                }, function () {
                    ChangePage("Home");
                    CloseActiveIframe();

                })
            } else if (!window.sessionStorage["TempData"]) {

                swal({
                    title: "错误",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                }, function () {
                    ChangePage("Home");
                    CloseActiveIframe();
                })
            }

            var td = JSON.parse(window.sessionStorage["TempData"]);
            if (type1 == td.type) {
                return td;
            } else {
                swal({
                    title: "错误",
                    type: "warning",
                    confirmButtonText: "确认",
                    closeOnConfirm: true
                }, function () {
                    ChangePage("Home");
                    CloseActiveIframe();
                })
            }
        }
  //#endregion
    </script>
</head>
<body class="theme-violet">
    <div class="bg"></div>
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="~/VPay/assets/images/logo_S_w.svg" width="48" height="48" alt="sQuare"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- Top Bar -->
    <nav class="navbar">
        <ul class="nav navbar-nav navbar-left flex">
            <div class="navLeft">
                <li>
                    <div class="navbar-header">
                        <a href="javascript:void(0);" class="bars" style="display: none;"></a>
                        <!-- <a class="navbar-brand"><img src="~/VPay/assets/images/logo_vpay.svg" alt="VPay"><span class="m-l-10"></span></a> -->
                        <a class="navbar-brand" href="javascript:void(0);"><img src="~/VPay/assets/images/logo_vpay.svg" alt="VPay" onclick="ChangePage('Home')"><span class="m-l-10"></span></a>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-sm" data-close="true" onclick="TableAdjust()">
                        <i class="fas fa-bars" ></i>
                        <!-- <i class="zmdi zmdi-arrow-left"></i>
                        <i class="zmdi zmdi-arrow-right"></i> -->
                    </a>
                </li>
            </div>

            <div class="navRight">
                <li class="divided" style="display:none;" id="soundIcon3">
                    <img id="closeProviderOrderMusic" onclick="closeProviderOrderMusic()" style="margin-left: 5px;margin-right: 5px;width: 30px;display:none;" src="~/VPay/assets/images/closeMusic.png" />
                    <img id="openProviderOrderMusic" onclick="openProviderOrderMusic()" style="margin-left: 5px;margin-right: 5px;width: 30px;display:none;" src="~/VPay/assets/images/openMusic.png" />
                </li>
                <li class="divided" style="display:none;">
                    <div id="divPaymentProviderConfirmCount" style="margin-right: 5px;margin-left: 5px;margin-bottom: 5px;" onclick="GoPageByUrl('PaymentProviderReportReview.cshtml')">
                        <span id="spanPaymentProviderConfirmCount" style="color:#ffc107">0</span>
                    </div>
                </li>
                <li class="divided" style="display:none;">
                    <div id="divWithdrawProviderConfirmCount" style="margin-right: 5px;margin-left: 5px;margin-bottom: 5px;" onclick="GoPageByUrl('ApplyWithdrawal_AdminMaintForProvider.cshtml')">
                        <span id="spanWithdrawProviderConfirmCount" style="color:aqua">0</span>
                    </div>
                </li>
                <li class="divided" style="display:none;" id="soundIcon4">
                    <img id="closeWithdrawRiskControlMusic" onclick="closeWithdrawRiskControlMusic()" style="margin-left: 5px;margin-right: 5px;width: 30px;display:none;" src="~/VPay/assets/images/closeMusic.png" />
                    <img id="openWithdrawRiskControlMusic" onclick="openWithdrawRiskControlMusic()" style="margin-left: 5px;margin-right: 5px;width: 30px;display:none;" src="~/VPay/assets/images/openMusic.png" />
                </li>
                <li class="divided" style="display:none;">
                    <div id="divRiskControlByWithdrawCount" style="margin-left: 10px;margin-top: 5px; margin-right: 10px;" onclick="showWithdrawRiskControlDetail()">
                        <span id="spanRiskControlByWithdrawCount" style="color:#ff4b22e3">代付异常</span>
                    </div>
                </li>

                <li class="divided" style="display:none;" id="soundIcon2">
                    <img id="closeRiskControlMusic" onclick="closeRiskControlMusic()" style="margin-left: 5px;margin-right: 5px;width: 30px;display:none;" src="~/VPay/assets/images/closeMusic.png" />
                    <img id="openRiskControlMusic" onclick="openRiskControlMusic()" style="margin-left: 5px;margin-right: 5px;width: 30px;display:none;" src="~/VPay/assets/images/openMusic.png" />
                </li>
                <li class="divided" style="display:none;">
                    <div id="divRiskControlByPaymentSuccessCount" style="margin-left: 10px;margin-top: 5px; margin-right: 10px;" onclick="showRiskControlDetail()">
                        <span id="spanRiskControlByPaymentSuccessCount" style="color:#ff4b22e3">充值异常</span>
                    </div>
                </li>
                <!-- SoundSetting -->
                <li class="divided SoundSetting" style="display:none;" id="soundIcon">
                    <img id="closeMusic" onclick="closeMusic()" style="display:none;" src="~/VPay/assets/images/closeMusic-violet.png" />
                    <img id="openMusic" onclick="openMusic()" style="display:none;" src="~/VPay/assets/images/openMusic-violet.png" />
                    <div id="divPaymentConfirmCount" onclick="GoPageByUrl('ApplyWithdrawal_AdminMaintV3.cshtml')">
                        <span id="spanPaymentConfirmCount" class="paymentConfirmCount">0</span>
                    </div>
                </li>
                <!-- <li class="divided" style="display:none;">
                    <div id="divPaymentConfirmCount" style="margin-left: 5px;margin-bottom: 5px;" onclick="GoPageByUrl('ApplyWithdrawal_AdminMaintV3.cshtml')">
                        <span id="spanPaymentConfirmCount" class="paymentConfirmCount">0</span>
                    </div>
                </li> -->

                <li class="divided timeZoneWrapper">
                    <a class="displayTimeZone" onclick="displayTimeZone()">
                        <p id="timeShowBox" class="timeShowBox"></p>
                        <i class="fa fa-caret-down" style="padding-left: 8px; font-size: 12px;"></i>
                    </a>
                    <div id="timeZoneSelect" class="timeZoneSelect">
                        <div class="btn-timeZone" onclick="timeDate2Click()">北京时间</div>
                        <div class="btn-timeZone" onclick="timeDateClick()">美东时间</div>
                    </div>
                </li>
                <!-- refresh -->
                <li class="divided">
                    <a class="page-refresh"><i  class="zmdi zmdi-home" onclick="ChangePage('Home')"></i></a>
                </li>
                <!-- home -->
                <li class="divided">
                    <a href="javascript:void(0);"><i  class="zmdi zmdi-refresh" onclick="RefreshActiveIframe()"></i></a>
                </li>
                <!-- logout -->
                <li class="divided">
                    <a id="btnLogout" class="mega-menu" style="height: 30px;"><i  class="zmdi zmdi-power"></i></a>
                </li>
            </div>
        </ul>
    </nav>

    @*<nav class="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li style="line-height:65px;">
                    <div class="navbar-header">
                        <a href="javascript:void(0);" class="bars"></a>
                        <a class="navbar-brand"><img src="~/VPay/assets/images/logo.svg" width="30"><span class="m-l-10">GPay</span></a>

                    </div>
                </li>
                <li style="line-height:65px">
                    <a href="javascript:void(0);" class="menu-sm" data-close="true">
                        <i class="zmdi zmdi-arrow-left"></i>
                        <i class="zmdi zmdi-arrow-right"></i>
                    </a>
                    <a href="javascript:void(0);" class="hovericon"><i class="zmdi zmdi-home" onclick="GoPage('Index.cshtml')"></i></a>
                    <a href="javascript:void(0);" class="hovericon"><i class="zmdi zmdi-refresh" onclick="window.location.reload()"></i></a>
                </li>
            </ul>
        </nav>*@
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">

        <div class="menu">

            <ul class="list" style="margin-top:15px">
                <li class="dropdown divided current-user" id="current-user">
                    <div class="account">
                        <p id="layoutLoginAccount" class="layoutLoginAccount"></p>
                    </div>
                </li>

            </ul>
        </div>
    </aside>
    <!-- Main Content -->
    <section class="content home" id="MainContent">
        <div class="container-fluid" >
            <div class="row" style="padding-top:0px;">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tabpanel">
                            <ul id="menuTab"></ul>
                            <div class="ui-layout-content" id="menuContent">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            @*<p>version 1.23.456.789</p>
                <p>Copyright © 2020 KingKey All rights reserved.</p>*@
        </footer>
    </section>
    <!-- CompanySelect Menu -->
    <div class="overlay_menu" style="display: none;" id="selectCompany_menu">
        @*<button class="btn btn-primary btn-icon btn-icon-mini btn-round" style="position:inherit;top:10%;"><i class="zmdi zmdi-close"></i></button>*@
        <div class="container">
            <div class="row clearfix">
                <div class="card links">
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div>
                                    <div class="row" style="margin-bottom: 10px;margin-top:10px">
                                        <div>
                                            <h6 style="margin-top: 10px;margin-right: 10px;margin-left: 15px;"> 商户查询 : </h6>
                                        </div>
                                        <input style="width:50%;background-color:aliceblue" id="input_CompanySerach" type="text" class="form-control date">
                                    </div>
                                    <button id="btnexpandall" class="btn btn-default" style="background-color: darkseagreen;position:initial;" type="button">展開</button>
                                    <button id="btncollapseAll" class="btn btn-default" style="background-color: darkseagreen;position:initial;" type="button">收合</button>
                                    <button id="btnsearchCompany" class="btn btn-default" style="background-color: darkseagreen;position:initial;" type="button">查詢</button>
                                    <div style="padding-top:5px"><i class="material-icons" style="vertical-align:middle;font-size: 20px;">person</i>:代理商戶</div>
                                </div>

                                <div class="dd divCompanyTree">

                                </div>
                                <div class="text-center">
                                    <button id="btnSaveselectcompany" class="btn btn-default" style="background-color: darkseagreen;position:initial;margin-top:10px !important;" type="button">確認</button>
                                    <button id="btnCancelselectcompany" class="btn btn-default" style="background-color: darkseagreen;position:initial;margin-top:10px !important;" type="button">取消</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="DialogModalContent">

    </div>

    <div id="WithdrawalModalContent">

    </div>
    <div id="WithdrawalModalContent2">

    </div>
    <div id="WithdrawalModalContent3">

    </div>

    <div id="WithdrawalModalContent4">

    </div>

    <div id="WithdrawalModalContent5">

    </div>

    <div id="PaymentModalContent">

    </div>


    <div class="modal fade" style="background-color: rgba(0, 0, 0, 0.4);" data-backdrop=false id="WithdrawalCreateModal" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <h4 class="title">提现申请</h4>

                </div>
                <div class="modal-body">
                    <label>选择银行卡</label>
                    <select class="form-control show-tick" id="select_BankCard"></select>
                    <div style="display:none">
                        <label>选择币别</label><label id="showPointValue" style="color:red;margin-left:5px"></label>
                        <select class="form-control show-tick" id="select_CurrencyType"></select>
                    </div>
                    <label style="margin-top:5px">通道名称 : <span id="WithdrawalCreateModal_ServiceTypeName"></span></label><br />
                    <label>通道剩余额度 : <span style="color:red" id="WithdrawalCreateModal_ServiceTypePoint"></span> 限额: <span style="color:red" id="WithdrawalCreateModal_MaxLimit"></span> 手续费: <span style="color:red" id="WithdrawalCreateModal_Charge"></span></label><br />

                    <input style="display:none" type="text" id="WithdrawalCreateModal_ServiceType" class="form-control">
                    <input style="display:none" type="text" id="WithdrawalCreateModal_WithdrawID" class="form-control">
                    <label for="WithdrawalCreateModal_BankName">银行名称 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_BankName" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_BankBranchName">支行名称 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_BankBranchName" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_BankCardName">持卡人姓名 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_BankCardName" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_OwnProvince">省份 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_OwnProvince" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_OwnCity">城市 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_OwnCity" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_BankCard">卡号 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_BankCard" class="form-control">
                    </div>

                    <label for="WithdrawalCreateModal_Amount">金额 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_Amount" class="form-control thousand-symbols">
                    </div>

                </div>
                <div class="modal-footer">
                    <button onclick="WithdrawalCreateModal_Confirm()" type="button" class="btn btn-primary btn-round waves-effect">确认</button>
                    <button onclick="WithdrawalCreateModal_Cancel()" type="button" class="btn btn-primary btn-round waves-effect">取消</button>
                </div>

            </div>

        </div>

    </div>

    <div class="modal fade" style="background-color: rgba(0, 0, 0, 0.4);" data-backdrop=false id="WithdrawalCreateModal2" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <h4 class="title">提现申请</h4>

                </div>
                <div class="modal-body">


                    <input style="display:none" type="text" id="WithdrawalCreateModal_WithdrawID2" class="form-control">

                    <label>退回原因 : <span id="WithdrawalCreateModal_RejectDescription2"></span></label><br />
                    <label>币别 : <span id="WithdrawalCreateModal_CurrencyType2"></span></label><br />
                    <label>金额 : <span id="WithdrawalCreateModal_Amount2"></span></label><br />
                    <label for="WithdrawalCreateModal_BankName2">银行名称 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_BankName2" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_BankBranchName2">支行名称 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_BankBranchName2" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_BankCardName2">持卡人姓名 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_BankCardName2" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_OwnProvince2">省份 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_OwnProvince2" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_OwnCity2">城市 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_OwnCity2" class="form-control">
                    </div>
                    <label for="WithdrawalCreateModal_BankCard2">卡号 : </label>
                    <div class="form-group">
                        <input type="text" id="WithdrawalCreateModal_BankCard2" class="form-control">
                    </div>




                </div>
                <div class="modal-footer">
                    <button onclick="WithdrawalCreateModal_Confirm()" type="button" class="btn btn-primary btn-round waves-effect">确认</button>
                    <button onclick="WithdrawalCreateModal_Cancel()" type="button" class="btn btn-primary btn-round waves-effect">取消</button>
                </div>

            </div>

        </div>

    </div>
    <div style="display:none;">
        <iframe src="wFrmRefresh.aspx" id="refresh"></iframe>
    </div>


</body>
</html>

